@model IEnumerable<BugsMVC.Models.ArticuloAsignacion>
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script>
    (function (window, document, $, undefined) {

        $(function () {

            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'ArticuloAsignacion/GetAllArticulosAsignaciones',
                datatype: "json",
                colModel: [
                    {
                        label: '',
                        name: '',
                        width: 65,
                        fixed: true,
                        search: false,
                        sortable: false,
                        resize: false,
                        formatter: actionButtonsFormatter,
                    },
                    { label: 'Id', name: 'Id', hidden: true },
                    { label: 'Operador', name: 'OperadorNombre', hidden : @Json.Encode((!User.IsInRole("SuperAdmin"))) },
                    { label: 'Locación', name: 'Locacion', width: '200px' },
                    { label: 'Máquina', name: 'Maquina', width: '350px' },
                    { label: 'Nombre Zona', name: 'NroZona' },
                    { label: 'Artículo', name: 'Articulo' , width: '350px'},
                    { label: 'Precio', name: 'Precio', sorttype: 'number', formatter: 'number', formatoptions:{decimalSeparator:",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ "}, searchoptions: { sopt: ['eq'] } },
                    { label: 'Control Stock', name: 'ControlStock', formatter: booleanFormatter, searchoptions: getDefaultSearchOptionsForBoolean(), stype: 'select' },
                    { label: 'Alarma Activa', name: 'AlarmaActiva', formatter: booleanFormatter, searchoptions: getDefaultSearchOptionsForBoolean(), stype: 'select' },
                    { label: 'Alarma Bajo', name: 'AlarmaBajo', sorttype: 'number', searchoptions: { sopt: ['eq'] } },
                    { label: 'Alarma Muy Bajo', name: 'AlarmaMuyBajo', sorttype: 'number', searchoptions: { sopt: ['eq'] } },
                    { label: 'Capacidad', name: 'Capacidad', sorttype: 'number', searchoptions: { sopt: ['eq'] } },

                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: false,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Artículos Asignados",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager"
            });

            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        });

    })(window, document, window.jQuery);

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.Articulo.AsignacionUpdate))? '<a href="ArticuloAsignacion/Edit/' + rowObject.Id + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-edit"> </a>' : '';
        linkButton += '<a href="ArticuloAsignacion/Details/' + rowObject.Id + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-eye"> </a>';
        linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.Articulo.AsignacionDelete))? linkButton + '<a href="ArticuloAsignacion/Delete/' + rowObject.Id + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-remove"> </a>' : linkButton;

        return linkButton;
    }


    function exportToExcel() {
        var data = JSON.stringify($('#jqGridJSON').jqGrid('getGridParam', 'postData'));
        $('#jqGridPostData').val(data);
    }

</script>

<h3>
    Asignación
    <small>Asignación de artículos.</small>
</h3>

<div>
@if (SecurityHelper.IsAllowed((int)Permissions.Articulo.AsignacionCreate))
{
    @Html.ActionLink("Crear Nueva", "Create", null, new { @class = "btn btn-default" })
}
    @using (Html.BeginForm("ExportData", "ArticuloAsignacion", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;" }))
    {
        <input type="submit" name="Export" id="Export" value="Excel" onclick="exportToExcel();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostData" id="jqGridPostData" />
    }
</div>
<br />
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>