@model BugsMVC.Models.TransaccionTexto

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Eliminar
    <small>Eliminar la Transacción Texto seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">¿Estás seguro de querer eliminar esta Transacción Texto?</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ModeloTerminal.Modelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModeloTerminal.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CodigoTransaccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoTransaccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SumaEnVentas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SumaEnVentas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SumaEnRecargas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SumaEnRecargas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TextoTransaccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextoTransaccion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" />
                @Html.ActionLink("Volver", "Index", "TransaccionTexto", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>