@model IEnumerable<BugsMVC.Models.StockHistorico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")

    @Styles.Render("~/bundles/jqGridCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")

    @Scripts.Render("~/bundles/jqGrid")
    @*@Scripts.Render("~/bundles/demoJQGrid")*@
}

<script>
    (function (window, document, $, undefined) {

        $(function () {

            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'StockHistorico/GetAllStockHistorico',
                datatype: "json",
                colModel: [
                    //{ label: '', name: '', width: 65, fixed: true, search: false, sortable: false, resize: false, formatter: actionButtonsFormatter },
                    { label: 'Operador', name: 'OperadorID', hidden: @Json.Encode(!User.IsInRole("SuperAdmin")) },
                    { label: 'Fecha', name: 'Fecha', search: true, searchOnEnter: true, sorttype: 'date', fixed: false, width: 150, formatter: 'date', formatoptions: { "srcformat": "d/m/Y H:i:s", "newformat": "d/m/Y H:i:s" }, searchoptions: getDefaultSearchOptionsForDate() },
                    { label: 'Fecha Aviso', name: 'FechaAviso', search: true, searchOnEnter: true, sorttype: 'date', fixed: false, width: 150, formatter: 'date', formatoptions: { "srcformat": "d/m/Y H:i:s", "newformat": "d/m/Y H:i:s" }, searchoptions: getDefaultSearchOptionsForDate() },
                    { label: 'StockHistoricoID', name: 'StockHistoricoID', fixed: false, width: 75, hidden: true },
                    { label: 'StockID', name: 'StockID', fixed: false, width: 75, hidden: true },
                    { label: 'Locación', name: 'Locacion', fixed: false, width: 150 },
                    { label: 'Artículo', name: 'Articulo', fixed: false, width: 250 },
                    { label: 'Zona', name: 'Zona', fixed: false, width: 150, sorttype: 'number'},
                    { label: 'Máquina', name: 'Maquina', fixed: false, width: 200 },
                    { label: 'Tipo De Movimiento', name: 'TipoDeMovimientoID', fixed: false, width: 150 },
                    { label: 'Cantidad', name: 'Cantidad', fixed: false, width: 150, sorttype: 'number', searchoptions: { sopt: ['eq'] } },
                    { label: 'Usuario', name: 'UsuarioID', fixed: false, width: 250 }
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: false,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Reposición",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager",
                //loadComplete: function () {
                //    var ids = $(this).jqGrid("getDataIDs");
                //    for (i = 0; i < ids.length; i++) {
                //        var rowid = ids[i];
                //        var alarmaBajo = parseInt($(this).jqGrid("getCell", rowid, "AlarmaBajo"));
                //        var cantidad = parseInt($(this).jqGrid("getCell", rowid, "Cantidad"));
                //        if (cantidad < alarmaBajo) {
                //            $('#' + $.jgrid.jqID(rowid)).addClass('alarmaBajoON');
                //        }
                //    }
                //}
            });

            //
            // Filtering by Columns
            //
            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        });

    })(window, document, window.jQuery);

    //function actionButtonsFormatter(cellvalue, options, rowObject) {

    //    var linkButton = '<a href="Stock/Edit/' + rowObject.StockID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-edit"> </a>'
    //                    + '<a href="Stock/Details/' + rowObject.StockID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-eye"> </a>'
    //                    + '<a href="Stock/Delete/' + rowObject.StockID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-remove"> </a>';

    //    return linkButton;
    //}

    function exportToExcel() {
        var data = JSON.stringify($('#jqGridJSON').jqGrid('getGridParam', 'postData'));
        $('#jqGridPostData').val(data);
    }

</script>

<h3>
    Reposición
    <small>Reposición.</small>
</h3>

<div>
    @using (Html.BeginForm("ExportData", "StockHistorico", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;" }))
    {
        <input type="submit" name="Export" id="Export" value="Excel" onclick="exportToExcel();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostData" id="jqGridPostData" />
    }
</div>
<br />

<!-- JSON-->
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>


