@model BugsMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Contraseña";
}

<h3>
    @ViewBag.Title
<small>Realice el cambio de su Contraseña</small>
</h3>


<div class="panel panel-default">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="panel-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">Contraseña actual</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Contraseña nueva</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Confirmar Contraseña nueva</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cambiar Contraseña" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Volver", "Index", null, new { onclick = "history.go(-1);", @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
