@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BugsMVC.Models
@using BugsMVC.DAL
@using BugsMVC.Helpers

<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">
                        <!-- User picture-->
                        @*<div class="user-block-picture">
                    <div class="user-block-status">
                       <img src="~/Content/Images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />*@
                        @*<div class="circle circle-success circle-lg"></div>
                        </div>
                    </div>*@
                        <!-- Name and Job-->
                        <div class="user-block-info">
                            <span class="user-block-name">Hola, @User.Identity.Name</span>
                            <span class="user-block-role">
                                Roles:
                                @if (User.IsInRole("SuperAdmin"))
                                {<span class="user-block-role"> "Administrador" </span>}
                                @if (User.IsInRole("Consumidor"))
                                {<span class="user-block-role"> "Consumidor" </span>}
                                @if (User.IsInRole("Admin"))
                                {<span class="user-block-role"> "Admin" </span>}
                                @if (User.IsInRole("Operador"))
                                {<span class="user-block-role"> "Operador" </span>}
                                @if (User.IsInRole("Repositor"))
                                {<span class="user-block-role"> "Repositor" </span>}
                                @if (User.IsInRole("Proveedor"))
                                {<span class="user-block-role"> "Proveedor" </span>}
                                @if (User.IsInRole("Técnico"))
                                {<span class="user-block-role"> "Técnico" </span>}
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            @using (var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(BugsContext.Create())))
            {
                if (SecurityHelper.IsAllowed((int)Permissions.Locacion.Index)
                    || SecurityHelper.IsAllowed((int)Permissions.Jerarquia.Index)
                    || SecurityHelper.IsAllowed((int)Permissions.Usuario.Index)
                    || SecurityHelper.IsAllowed((int)Permissions.UsuarioWeb.Index)
                    || SecurityHelper.IsAllowed((int)Permissions.Terminal.Index)
                    || SecurityHelper.IsAllowed((int)Permissions.Maquina.Index)
                    || SecurityHelper.IsAllowed((int)Permissions.Transaccion.Index))
                {
                    <li class="nav-heading">
                        <span>Datos</span>
                    </li>
                }
                if (SecurityHelper.IsAllowed((int)Permissions.Locacion.Index))
                {
                    <li class="@Html.isActive(controller: "Locacion")">
                        <a href="@Url.Action("Index", "Locacion")" title="Locacion">
                            <span data-localize="sidebar.nav.element.LOCACION">Locaciones</span>
                        </a>
                    </li>
                }
                if (SecurityHelper.IsAllowed((int)Permissions.Jerarquia.Index))
                {
                    <li class="@Html.isActive(controller: "Jerarquia")">
                        <a href="@Url.Action("Index", "Jerarquia")" title="Jerarquia">
                            <span data-localize="sidebar.nav.element.JERARQUIA">Jerarquías</span>
                        </a>
                    </li>
                }

                if (SecurityHelper.IsAllowed((int)Permissions.Usuario.Index))
                {
                    <li class="@Html.isActive(controller: "Usuario")">
                        @*<a href="@Url.Action("Index", "Usuario")" title="Usuario">
                        <span data-localize="sidebar.nav.element.USUARIO">Consumidores</span>
                    </a>*@
                        <a href="#" onclick="loadUsuarios()" title="Usuario">
                            <span data-localize="sidebar.nav.element.USUARIO">Consumidores</span>
                        </a>
                    </li>
                }

                if (SecurityHelper.IsAllowed((int)Permissions.Maquina.Index))
                {
                    <li>
                        <a href="@Url.Action("Index", "Maquina")" title="Máquinas">
                            @*<em class="icon-grid"></em>*@
                            <span>Máquinas</span>
                        </a>
                    </li>
                }
                if (SecurityHelper.IsAllowed((int)Permissions.Terminal.Index))
                {
                    <li>
                        <a href="@Url.Action("Index", "Terminal")" title="Terminal">
                            <span>Terminales</span>
                        </a>
                    </li>
                }

                if (SecurityHelper.IsAllowed((int)Permissions.Consumidor.Index))
                {
                    <li class="@Html.isActive(controller: "Consumidor", action: "MiCuenta")">
                        <a href="@Url.Action("MiCuenta", "Consumidor")" title="Mi Cuenta">
                            <span>Mi Cuenta</span>
                        </a>
                    </li>
                    <li class="@Html.isActive(controller: "Consumidor", action: "Index")">
                        <a href="@Url.Action("Index", "Consumidor")" title="Movimientos">
                            <span>Movimientos</span>
                        </a>
                    </li>
                }

                if (SecurityHelper.IsAllowed((int)Permissions.UsuarioWeb.Index))
                {
                    <li class="@Html.isActive(controller: "UsuarioWeb")">
                        <a href="@Url.Action("Index", "UsuarioWeb")" title="Usuario Web">
                            <span data-localize="sidebar.nav.element.USUARIO">Usuarios Web</span>
                        </a>
                    </li>
                }


                <li>
                    @if (SecurityHelper.IsAllowed((int)Permissions.Articulo.Listado)
                        || SecurityHelper.IsAllowed((int)Permissions.Articulo.Asignacion))
                    {
                        <a href="#layoutArticulo" title="Artículos" data-toggle="collapse">
                            <div class="pull-right">+</div>
                            <span>Artículos</span>
                        </a>
                    }
                    <ul id="layoutArticulo" class="nav sidebar-subnav collapse">
                        <li class="sidebar-subnav-header">Artículos</li>
                        @if (SecurityHelper.IsAllowed((int)Permissions.Articulo.Listado))
                        {
                            <li class="@MenuHelper.GetActiveMenu(Request,"Articulo")">
                                <a href="@Url.Action("Index", "Articulo")" title="Listado">
                                    <span>Listado</span>
                                </a>
                            </li>
                        }
                        @if (SecurityHelper.IsAllowed((int)Permissions.Articulo.Asignacion))
                        {
                            <li class="@MenuHelper.GetActiveMenu(Request,"ArticuloAsignacion")">
                                <a href="@Url.Action("Index", "ArticuloAsignacion")" title="Asignación">
                                    <span>Asignación</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }


            <li>
                @if (SecurityHelper.IsAllowed((int)Permissions.Stock.Index)
                  || SecurityHelper.IsAllowed((int)Permissions.Stock.Reposiciones))
                {
                    <a href="#layoutStock" title="Stock" data-toggle="collapse">
                        <div class="pull-right">+</div>
                        <span>Stock</span>
                    </a>
                }
                <ul id="layoutStock" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header"></li>
                    @if (SecurityHelper.IsAllowed((int)Permissions.Stock.Index))
                    {
                        <li class="@MenuHelper.GetActiveMenu(Request,"Stock")">
                            <a href="@Url.Action("Index", "Stock")" title="Listado">
                                <span>Listado</span>
                            </a>
                        </li>
                    }
                    @if (SecurityHelper.IsAllowed((int)Permissions.Stock.Reposiciones))
                    {
                        <li class="@MenuHelper.GetActiveMenu(Request,"StockHistorico")">
                            <a href="@Url.Action("Index", "StockHistorico")" title="Reposiciones">
                                <span>Reposiciones</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                @if (SecurityHelper.IsAllowed((int)Permissions.Alarma.Configuracion))
                {
                    <a href="#layoutAlarma" title="Alarma" data-toggle="collapse">
                        <div class="pull-right">+</div>
                        <span>Alarma</span>
                    </a>
                }
                <ul id="layoutAlarma" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header"></li>
                    @if (SecurityHelper.IsAllowed((int)Permissions.Alarma.Configuracion))
                    {
                        <li class="@MenuHelper.GetActiveMenu(Request,"Alarma")">
                            <a href="@Url.Action("Create", "Alarma")" title="Listado">
                                <span>Configuración</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            @if (SecurityHelper.IsAllowed((int)Permissions.Informes.Consumo)
            || SecurityHelper.IsAllowed((int)Permissions.Informes.Ventas)
            || SecurityHelper.IsAllowed((int)Permissions.Informes.CertificadoEntregaEpp)
            || SecurityHelper.IsAllowed((int)Permissions.Informes.EntregaEPPTrabajador)
            || SecurityHelper.IsAllowed((int)Permissions.Informes.EntregaTotalEPP)
            || SecurityHelper.IsAllowed((int)Permissions.MercadoPago.Index))
            {
                <li class="nav-heading">
                    <span>Informes</span>
                </li>
            }

            @*@if (SecurityHelper.IsAllowed((int)Permissions.Transaccion.Index))
        {
        <li class="@Html.isActive(controller: "Transaccion")">
            <a href="@Url.Action("Index", "Transaccion")" title="Transaccion">
                <span data-localize="sidebar.nav.element.TRANSACCION">Transacciones</span>
            </a>
        </li>
        }*@


            <li>
                @if (SecurityHelper.IsAllowed((int)Permissions.Transaccion.Index))
                {
                    <a href="#layoutTransaction" title="Transacciones" data-toggle="collapse">
                        <div class="pull-right">+</div>
                        <span data-localize="sidebar.nav.element.TRANSACCION">Transacciones</span>
                    </a>
                }
                <ul id="layoutTransaction" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header"></li>
                    <li class="@MenuHelper.GetActiveMenu(Request,2, "Transaccion","Index")">
                        <a href="@Url.Action("Index", "Transaccion")" title="Transaccion">
                            <span data-localize="sidebar.nav.element.TRANSACCION">Listado</span>
                        </a>
                    </li>

                    @if (SecurityHelper.IsInRole("SuperAdmin"))
                    {
                        <li class="@MenuHelper.GetActiveMenu(Request,2, "Transaccion","IndexMal")">
                            <a href="@Url.Action("IndexMal", "Transaccion")" title="Transaccion">
                                <span data-localize="sidebar.nav.element.TRANSACCION">Transacciones Mal</span>
                            </a>
                        </li>
                        <li class="@MenuHelper.GetActiveMenu(Request,2, "Transaccion","IndexGrupoMal")">
                            <a href="@Url.Action("IndexGrupoMal", "Transaccion")" title="Transaccion">
                                <span data-localize="sidebar.nav.element.TRANSACCION">Grupo Mal</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>






            @if (SecurityHelper.IsAllowed((int)Permissions.Informes.Consumo))
            {
                <li class="@Html.isActive(controller: "Informes", action: "Consumo")">
                    <a href="@Url.Action("Consumo", "Informes")" title="Consumos">
                        <span>Consumos</span>
                    </a>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.Informes.Ventas))
            {
                <li class="@Html.isActive(controller: "Informes", action: "Ventas")">
                    <a href="@Url.Action("Ventas", "Informes")" title="Ventas">
                        <span>Ventas</span>
                    </a>
                </li>
            }

            @if (SecurityHelper.IsAllowed((int)Permissions.ConfiguracionPagosExternos.Index))
            {
                //if (SecurityHelper.IsInRole("SuperAdmin"))
                
                    <li class="@Html.isActive(controller: "MercadoPago", action: "Configure")">
                        <a href="@Url.Action("Configure", "MercadoPago")" title="Configuración">
                            <span>Configuración Pagos Externos</span>
                        </a>
                    </li>
               
            }

            @if (SecurityHelper.IsAllowed((int)Permissions.PagosExternos.Index))
            {
            <li class="@Html.isActive(controller: "MercadoPago", action: "Index")">
                <a href="@Url.Action("Index", "MercadoPago")" title="Pagos Externos">
                    <span>Pagos Externos</span>
                </a>
            </li>
            }

            @if (SecurityHelper.IsAllowed((int)Permissions.Informes.CertificadoEntregaEpp))
            {
                <li class="@Html.isActive(controller: "Informes", action: "CertificadoEntregaEpp")">
                    <a href="@Url.Action("CertificadoEntregaEpp", "Informes")" title="Certificado EPP">
                        <span>Certificado de entrega de EPP</span>
                    </a>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.Informes.EntregaEPPTrabajador))
            {
                <li class="@Html.isActive(controller: "Informes", action: "EntregaEPPTrabajador")">
                    <a href="@Url.Action("EntregaEPPTrabajador", "Informes")" title="EPP por Trabajador">
                        <span>Entrega EPP por Trabajador</span>
                    </a>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.Informes.EntregaTotalEPP))
            {
                <li class="@Html.isActive(controller: "Informes", action: "EntregaTotalEPP")">
                    <a href="@Url.Action("EntregaTotalEPP", "Informes")" title="Total EPP">
                        <span>Entrega Total EPP</span>
                    </a>
                </li>
            }

            @if (SecurityHelper.IsAllowed((int)Permissions.Operadores.Index)
                || SecurityHelper.IsAllowed((int)Permissions.ModelosMaquina.Index)
                || SecurityHelper.IsAllowed((int)Permissions.ModeloTerminal.Index)
                || SecurityHelper.IsAllowed((int)Permissions.TransaccionTexto.Index)
                || SecurityHelper.IsAllowed((int)Permissions.Auditoria.Index))
            {
                <li class="nav-heading">
                    <span>Administración</span>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.Operadores.Index))
            {
                <li class="@Html.isActive(controller: "Operador")">
                    <a href="@Url.Action("Index", "Operador")" title="Operadores">
                        <span data-localize="sidebar.nav.OPERADOR">Operadores</span>
                    </a>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.ModelosMaquina.Index))
            {
                <li>
                    <a href="@Url.Action("Index", "MarcaModelo")" title="Máquinas">
                        <span>Modelos de Máquina</span>
                    </a>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.ModeloTerminal.Index))
            {
                <li>
                    <a href="@Url.Action("Index", "ModeloTerminal")" title="Máquinas">
                        <span>Modelos de Terminal</span>
                    </a>
                </li>
            }
            @if (SecurityHelper.IsAllowed((int)Permissions.TransaccionTexto.Index))
            {
                <li class="@Html.isActive(controller: "TransaccionTexto")">
                    <a href="@Url.Action("Index", "TransaccionTexto")" title="TransaccionTexto">
                        @*<em class="icon-graduation"></em>*@
                        <span data-localize="sidebar.nav.element.AUDITORIA">Transacción Texto</span>
                    </a>
                </li>
            }

            <li>
                @if (SecurityHelper.IsAllowed((int)Permissions.Seguridad.Seguridad))
                {
                    <a href="#layoutSeguridad" title="Seguridad" data-toggle="collapse">
                        <div class="pull-right">+</div>
                        <span>Seguridad</span>
                    </a>
                }
                <ul id="layoutSeguridad" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Seguridad</li>
                    @if (SecurityHelper.IsAllowed((int)Permissions.Seguridad.Seguridad))
                    {
                        <li class="@MenuHelper.GetActiveMenu(Request,"Seguridad")">
                            <a href="@Url.Action("Create", "Seguridad")" title="Por Rol">
                                <span>Por Rol</span>
                            </a>
                            <a href="@Url.Action("PorInforme", "Seguridad")" title="Por Operador">
                                <span>Por Operador</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>


            @if (SecurityHelper.IsAllowed((int)Permissions.Auditoria.Index))
            {
                <li class="@Html.isActive(controller: "Auditoria")">
                    <a href="@Url.Action("Index", "Auditoria")" title="Auditoria">
                        @*<em class="icon-graduation"></em>*@
                        <span data-localize="sidebar.nav.element.AUDITORIA">Auditoría</span>
                    </a>
                </li>
            }

            <li class="display-block" style="display:none">
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    @*<em class="icon-graduation"></em>*@
                    <span>Salir</span>
                </a>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
<script type="text/javascript">
    function loadUsuarios() {
        $.ajax({
            url: '/Usuario/ClearSession',
            data: {  },
            success: function (data) {
                console.log(data);
                if (data.result == true) {
                    window.location.href = '@Url.Action("Index", "Usuario")';
                } 
            }
        });
    }
</script>