@model BugsMVC.Models.ReporteCertificadoEntregaEpp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BugsMVC.Models
@using BugsMVC.DAL

<h3>
    Informes
    <small>Consumos.</small>
</h3>
<script type="text/javascript">
    (function (window, document, $, undefined) {
        $(function () {
            $("#OperadorID").change(function () {
                $("#Usuarios.chosen-select").empty();
                $("#Locaciones.chosen-select").empty();
            });

            if ($("#Locaciones").val() == null) {
                $("#Usuarios.chosen-select").empty();
                $('#Usuarios.chosen-select').attr('disabled', 'disabled');
            }

            $("#Locaciones").change(function () {
                $("[data-valmsg-for='Usuarios']").text("");
                $("#Usuarios.chosen-select").empty();
                $('#Usuarios.chosen-select').attr('disabled', 'disabled');
                $('#Usuarios.chosen-select').trigger("chosen:updated");
                    LoadTrabajadores();
            });

            $("#Usuarios").change(function () {
                if ($("#Usuarios").val() != undefined && $("#Usuarios").val().indexOf("Todos") !== -1) {
                    $("#Usuarios").val("Todos");
                    $('#Usuarios.chosen-select').trigger("chosen:updated");
                }

                if ($("#Usuarios").val() != undefined && $("#Usuarios").val().indexOf("SinAlta") !== -1) {
                    $("#Usuarios").val("SinAlta");
                    $('#Usuarios.chosen-select').trigger("chosen:updated");
                }
            });

            $('#Usuarios.chosen-select').chosen({
                placeholder_text_multiple: "Seleccionar consumidores"
            });

            $('#Locaciones.chosen-select').chosen({
                placeholder_text_multiple: "Seleccionar locaciones"
            });

            if ($('#divs div.pageElement').length > 1) {
                $('#black').smartpaginator({
                    totalrecords: $('#divs div.pageElement').length,
                    recordsperpage: 1,
                    datacontainer: 'divs',
                    dataelement: 'div.pageElement',
                    initval: 1,
                    next: 'Next',
                    prev: 'Prev',
                    first: 'First',
                    last: 'Last',
                    go: 'Ir'
                });
            }

            $('.wrapper').css('overflow-x', 'visible');
        });

    })(window, document, window.jQuery);

    function LoadTrabajadores() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUsuariosByLocacionesMultiSelectList", "Informes")',
                dataType: 'json',
                data: {
                    locaciones: $("#Locaciones").val()
                },
                success: function (usuarios) {
                    if (usuarios.length != 0) {
                    $("#Usuarios.chosen-select").empty();
                    $.each(usuarios, function (i, usuario) {
                        $("#Usuarios.chosen-select").append('<option value="' + usuario.Value + '">' + usuario.Text + '</option>');
                    });
                    if (usuarios.length > 0)
                        $('#Usuarios.chosen-select').removeAttr('disabled');
                    else
                        $('#Usuarios.chosen-select').attr('disabled', 'disabled');
                    $('#Usuarios.chosen-select').trigger("chosen:updated");
                    } else {
                        if ($("#Locaciones").val() != null) {
                            $("[data-valmsg-for='Usuarios']").text("La locación seleccionada no tiene Trabajadores");
                        }
                    }
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Consumidores.' + ex);
                }
            });
    }


</script>

<div class="panel panel-default report-filters" style="float: none">
    @using (Html.BeginForm("Consumo", "Informes", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
    {
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">

            <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                    @Html.LabelFor(m => Model.FechaDesde, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div id="datetimeVencimiento" class="input-group date">
                            @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaDesde, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => Model.FechaHasta, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div id="datetimeVencimiento" class="input-group date">
                            @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaHasta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.Locaciones, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ListBox("Locaciones", null, htmlAttributes: new { @class = "chosen-select input-md form-control" })
                        @Html.ValidationMessageFor(model => model.Locaciones, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Consumidores", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ListBox("Usuarios", null, htmlAttributes: new { @class = "chosen-select input-md form-control" })
                        @Html.ValidationMessageFor(model => model.Usuarios, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default" type="submit">Generar</button>
                    </div>
                </div>

            </form>
        </div>
    }
</div>

@if (Model != null)
{
    //Paginado
    <div id="black" style="margin: auto;">
    </div>
    if (Model.ReportePorTrabajador.Count() != 0)
    {
    <input type="button" value="Imprimir" class="btn btn-default btn-print" onclick="window.print()">
    }
    <div class="contents" style="float: none">
        <div id="divs" style="float: none">
            @foreach (ReporteCertificadoEntregaEppTrabajador itemTrabajador in Model.ReportePorTrabajador)
            {
                <div class="pageElement">
                    <div class="report-panel panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div class="report-title">
                                <h4>CONSUMOS POR CONSUMIDOR</h4>
                            </div>
                            <div class="report-header">
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Razón Social: @itemTrabajador.RazonSocial</td>
                                            <td>CUIT: @itemTrabajador.CUIT</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Dirección: @itemTrabajador.Direccion</td>
                                            <td>Localidad: @itemTrabajador.Localidad</td>
                                            <td>C.P.: @itemTrabajador.CodigoPostal</td>
                                            <td>Provincia: @itemTrabajador.Provincia</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Periodo: @itemTrabajador.Periodo</td>
                                            <td>Desde: @itemTrabajador.FechaDesde.ToShortDateString()</td>
                                            <td>Hasta: @itemTrabajador.FechaHasta.ToShortDateString()</td>
                                            <td>Generación informe: @DateTime.Now.ToString("dd/MM/yyyy HH:mm")</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Nombre y Apellido del Trabajador: @itemTrabajador.NombreCompleto</td>
                                            <td>Número : @itemTrabajador.NumeroTrabajador</td>
                                            <td>DNI: @itemTrabajador.DNI</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="report-table-container">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>PRODUCTO</th>
                                            <th>TIPO/MODELO</th>
                                            <th>MARCA</th>
                                            <th>CANTIDAD</th>
                                            <th>Precio en Máquina</th>
                                            <th>Total</th>
                                            <th>FECHA DE VENTA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReporteCertificadoEntregaEppDetalle itemDetalle in itemTrabajador.Detalle)
                                        {
                                            <tr>
                                                <td>@itemDetalle.Producto</td>
                                                <td>@itemDetalle.TipoModelo</td>
                                                <td>@itemDetalle.Marca</td>
                                                <td>@itemDetalle.Cantidad</td>
                                                <td>@itemDetalle.PrecioEnMaquina</td>
                                                <td>@itemDetalle.Total</td>
                                                <td>@itemDetalle.FechaEntrega</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Sub-Total</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>                                            
                                            <td></td>
                                            <td>@itemTrabajador.Detalle.Sum(x => x.Total)</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="salto"></div>
                </div>
            }

            @if (Model.ReportePorTrabajador.Count() == 0)
            {
                <p>No se encontraron datos para los filtros seleccionados.</p>
            }
        </div>
    </div>
}

