@model IEnumerable<BugsMVC.Models.Usuario>

@{
    ViewBag.Title = "Reporte de Consumidores";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reporte de Consumidores</h3>

<div>
    @Html.ActionLink("Generar PDF", "ReportePDF", "Usuario", new { sid = Guid.NewGuid().ToString()}, new { @class = "btn btn-default", @target = "_blank" })
</div>
<br />
<table cellpadding="10" cellspacing="10">
    <tr border="1" bgcolor="#e1e1ea" color="#ffffff">
        <th width="15%" align="center">
            Nombre
        </th>
        <th width="15%" align="center">
            Apellido
        </th>
        <th width="15%" align="center">
            Legajo
        </th>
        <th width="15%" align="center">
            Jerarquía
        </th>
        <th width="15%" align="center">
            Número
        </th>
        <th width="15%" align="center">
            ClaveTerminal
        </th>
    </tr>
    @{
        var OddColor = "#DDEEEE";
        var evenColor = "#EEFFFF";
        var Odd = OddColor;
    }
    @foreach (var item in Model)
    {
        <tr border="1" bgcolor="@Odd">
            <td>
                @Html.DisplayNameFor(model => model.Nombre):
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Apellido):
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Legajo):
                @Html.DisplayFor(modelItem => item.Legajo)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Jerarquia.Nombre):
                @Html.DisplayFor(modelItem => item.Jerarquia.Nombre)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Numero):
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ClaveTerminal):
                @Html.DisplayFor(modelItem => item.ClaveTerminal)
            </td>
        </tr>
        if (Odd == OddColor)
        {
            Odd = evenColor;
        }
        else
        {
            Odd = OddColor;
        }
    }
</table>
<br />
<div>
    @Html.ActionLink("Volver", "Index", "Usuario", null, new { @class = "btn btn-default" })
</div>