@model BugsMVC.Models.ArticuloAsignacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Eliminar
    <small>Eliminar la asignación seleccionado.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">¿Estás seguro de querer eliminar la asignación?</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ArticuloID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Articulo.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocacionID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NroZona)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroZona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaquinaID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Maquina.NombreAlias)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input onclick="$('#confirmationForm').submit();" type="submit" value="Eliminar" class="btn btn-default" />
        @Html.ActionLink("Volver", "Index", "ArticuloAsignacion", null, new { @class = "btn btn-default" })
    </div>
}
