@model IEnumerable<BugsMVC.Models.TransaccionTexto>
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script>
    (function (window, document, $, undefined) {

        $(function () {

            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'TransaccionTexto/GetAllTransaccionesTextos',
                datatype: "json",
                colModel: [
                    {
                        label: '',
                        name: '',
                        width: 65,
                        fixed: true,
                        search: false,
                        sortable: false,
                        resize: false,
                        formatter: actionButtonsFormatter
                    },
                    { label: 'TransaccionTextoID', name: 'TransaccionTextoID', width: 75, hidden: true },
                    { label: 'Código Transacción', name: 'CodigoTransaccion', width: 150, sorttype: 'number' },
                    { label: 'Modelo Terminal', name: 'ModeloTerminal', width: 150 },
                    { label: 'Suma En Efectivo', name: 'SumaEnEfectivo', width: 150, formatter: booleanFormatter, searchoptions: getDefaultSearchOptionsForBoolean(), stype: 'select' },
                    { label: 'Suma En Ventas', name: 'SumaEnVentas', width: 150, formatter: booleanFormatter, searchoptions: getDefaultSearchOptionsForBoolean(), stype: 'select' },
                    { label: 'Suma En Recargas', name: 'SumaEnRecargas', width: 150, formatter: booleanFormatter, searchoptions: getDefaultSearchOptionsForBoolean(), stype: 'select' },
                    { label: 'Texto Transacción', name: 'TextoTransaccion', width: 300 },
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: false,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Transacción Texto",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager"
            });

            //
            // Filtering by Columns
            //
            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        });

    })(window, document, window.jQuery);

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = '<a href="TransaccionTexto/Edit/' + rowObject.TransaccionTextoID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-edit"> </a>' 
                       + '<a href="TransaccionTexto/Details/' + rowObject.TransaccionTextoID + '" data-toggle="tooltip" data-placement="left" data-original-title="Detalles" class="fa fa-eye"> </a>'
                       + '<a href="TransaccionTexto/Delete/' + rowObject.TransaccionTextoID + '" data-toggle="tooltip" data-placement="left" data-original-title="Eliminar" class="fa fa-remove"> </a>';

        return linkButton;
    }
</script>

<h3>
    Transacción Texto
    <small>Administración de Transacción Texto.</small>
</h3>

<p>
    @Html.ActionLink("Crear Nueva", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>

