@model BugsMVC.Models.StockViewModel

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Eliminar
    <small>Eliminar el Stock seleccionado.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">¿Estás seguro de querer eliminar este stock?</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LocacionID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArticuloID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Articulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NroZona)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroZona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaquinaID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Maquina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAviso)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaAviso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaEdicionWeb)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaEdicionWeb)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaEdicionVT)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaEdicionVT)
            </dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "confirmationForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Eliminar</button>
        @Html.ActionLink("Volver", "Index", "Stock", null, new { @class = "btn btn-default" })
    </div>
}


@section BodyArea {
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content confirm1">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">¿ Desea Ud. eliminar el Stock seleccionado ?</div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#myModal .modal-content.confirm1').hide(); $('#myModal .modal-content.confirm2').show(); return false;" class="btn btn-primary">Confirmar</button>
                    @Html.ActionLink("Volver", "Index", "Stock", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <div class="modal-content confirm2" style="display:none;">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Alerta</h4>
                </div>
                <div class="modal-body">
                    Al eliminar el Stock seleccionado se borrarán las dependencias.
                    <ul>
                        <li>Reposiciones</li>                     
                    </ul>
                    Los datos serán borrados permantentemente y no podrán ser recuperados.
                    <br />Si usted está seguro presione el botón 'Eliminar'.
                </div>
                <div class="modal-footer">
                    <button onclick="$('#confirmationForm').submit();" type="button" class="btn btn-primary">Eliminar</button>
                    @Html.ActionLink("Volver", "Index", "Stock", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}