@model IEnumerable<BugsMVC.Models.Transaccion>

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BugsMVC.Models
@using BugsMVC.DAL
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var objectArray = (TempDataDictionary)TempData;
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}



<h3>
    Transacciones
    <small>Listado de transacciones.</small>
</h3>

<div>
    @using (Html.BeginForm("ExportData", "Transaccion", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;" }))
    {
        <input type="submit" name="Export" id="Export" value="Excel" onclick="exportToExcel();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostData" id="jqGridPostData" />
    }
    @*<a href="#" data-toggle="modal" data-target="#myModal" class="removeButton btn btn-default">
            Eliminar Rango
        </a>*@
    @if (SecurityHelper.IsAllowed((int)Permissions.Transaccion.Delete))
    {
        @Html.ActionLink("Eliminar Rango", "DeleteRange", null, new { @class = "btn btn-default" })
    }

    <input hidden="hidden" type="button" name="ClearFilters" id="ClearFilters" value="Borrar Filtros" class="btn btn-default" />
</div>
<br />
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>


<script>



            (function (window, document, $, undefined) {

                $(function () {
           

                    var gridJSON = $("#jqGridJSON");

                    $('#ClearFilters').on('click', function () {
                        clearSearchOptions(gridJSON, '/Transaccion/ClearSession');
                    });

                    gridJSON.jqGrid({
                        url: 'Transaccion/GetAllTransacciones',
                        datatype: "json",
                        // formatter:currencyFmatter,
                        // formatter: { number: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 3, defaultValue: '0,00' } },
                        //   , formatoptions: { decimalSeparator: ",", thousandsSeparator: ",", decimalPlaces: 3 }
                        colModel: [
                            {
                                label: '',
                                name: '',
                                width: 65,
                                fixed: true,
                                search: false,
                                sortable: false,
                                resize: false,
                                formatter: actionButtonsFormatter
                            },
                            { label: 'Tipo Transacción', name: 'TransaccionTexto', fixed: true, width: 230 },
                            { label: 'Código', name: 'CodigoTransaccion', fixed: true, width: 130, sorttype: 'number' },
                            { label: 'TransaccionID', name: 'TransaccionID', hidden: true },
                            { label: 'Valor Venta', name: 'ValorVenta', fixed: true, width: 80, sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ " } },
                            { label: 'Descuento Aplicado', name: 'DescuentoAplicado', fixed: true, width: 150, sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ " } },
                            { label: 'Artículo', name: 'Articulo', fixed: true, width: 300 },
                            { label: 'Fecha Transacción', name: 'FechaTransaccion', search: true, searchOnEnter: true, sorttype: 'date', formatter: 'date', formatoptions: { "srcformat": "d/m/Y H:i:s", "newformat": "d/m/Y H:i:s" }, fixed: true, width: 130, searchoptions: getDefaultSearchOptionsForDate() },
                            { label: 'Fecha Alta', name: 'FechaAltaBase', search: true, searchOnEnter: true, sorttype: 'date', formatter: 'date', formatoptions: { "srcformat": "d/m/Y H:i:s", "newformat": "d/m/Y H:i:s" }, fixed: true, width: 130, searchoptions: getDefaultSearchOptionsForDate() },
                            { label: 'Usuario', name: 'Usuario', fixed: true, width: 200 },
                            { label: 'Número Usuario', name: 'NumeroUsuario', fixed: true, width: 130, sorttype: 'number' },
                            { label: 'Jerarquía', name: 'Jerarquia', fixed: true, width: 130 },
                            { label: 'Locación', name: 'Locacion', fixed: true, width: 130 },
                            { label: 'N° Serie Máquina', name: 'Maquina', fixed: true, width: 150, sorttype: 'number' },
                            { label: 'Terminal', name: 'Terminal', fixed: true, width: 160, sorttype: 'number' },
                            { label: 'Modelo Terminal', name: 'ModeloTerminal', fixed: true, width: 200 },
                            { label: 'Valor Recarga', name: 'ValorRecarga', fixed: true, width: 80, sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ " } },
                            { label: 'Valor Recorte', name: 'ValorRecorte', search: true, searchOnEnter: true, sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ " } },
                            { label: 'Efectivo Inicial', name: 'EfectivoInicial', hidden: true, fixed: true, width: 100, sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ " } },
                            { label: 'Efectivo Final', name: 'EfectivoFinal', hidden: true, fixed: true, width: 100, sorttype: 'number', formatter: 'number', formatoptions: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, prefix: "$ " } },
                            { label: 'Nombre Zona1', name: 'NombreZona1', hidden: true },
                            { label: 'Credito Inicial Zona1', name: 'CreditoInicialZona1', hidden: true },
                            { label: 'Credito Final Zona1', name: 'CreditoFinalZona1', hidden: true },
                            { label: 'Nombre Zona2', name: 'NombreZona2', hidden: true },
                            { label: 'Credito Inicial Zona2', name: 'CreditoInicialZona2', hidden: true },
                            { label: 'Credito Final Zona2', name: 'CreditoFinalZona2', hidden: true },
                            { label: 'Nombre Zona3', name: 'NombreZona3', hidden: true },
                            { label: 'Credito Inicial Zona3', name: 'CreditoInicialZona3', hidden: true },
                            { label: 'Credito Final Zona3', name: 'CreditoFinalZona3', hidden: true },
                            { label: 'Nombre Zona4', name: 'NombreZona4', hidden: true },
                            { label: 'Credito Inicial Zona4', name: 'CreditoInicialZona4', hidden: true },
                            { label: 'Credito Final Zona4', name: 'CreditoFinalZona4', hidden: true },
                            { label: 'Nombre Zona5', name: 'NombreZona5', hidden: true },
                            { label: 'Credito Inicial Zona5', name: 'CreditoInicialZona5', hidden: true },
                            { label: 'Credito Final Zona5', name: 'CreditoFinalZona5', hidden: true },
                            { label: 'Credito Inicial Zona', name: 'CreditoInicialZona', search: false, sortable: false, formatter: creditoInicialZonaColumnFormatter, fixed: true, width: 180 },
                            { label: 'Credito Final Zona', name: 'CreditoFinalZona', search: false, sortable: false, formatter: CreditoFinalZonaColumnFormatter, fixed: true, width: 180 },
                            { label: 'Operador', name: 'OperadorNombre', hidden : @Json.Encode((!User.IsInRole("SuperAdmin"))) },
                            //{ label: 'Valor Venta', name: 'ValorVenta', fixed: true, width: 80, sorttype: 'number', formatter: 'number' },
                            //{ label: 'Descuento Aplicado', name: 'DescuentoAplicado', fixed: true, width: 130, sorttype: 'number' },
                            //{ label: 'Usuario Service', name: 'UsuarioService', fixed: true, width: 130, formatter: booleanFormatter, searchoptions: getDefaultSearchOptionsForBoolean() , stype: 'select'  },
                            //{ label: 'Roles', name: 'Roles', fixed: true, width: 150 },
                        ],
                        viewrecords: true, // show the current page, data rang and total records on the toolbar
                        autowidth: true,
                        shrinkToFit: false,
                        height: 240,
                        rowNum: 20,
                        rowList: [10, 20, 30],
                        loadonce: false, // this is just for the demo
                        caption: "Transacciones",
                        hidegrid: false,
                        ignoreCase: true,
                        pager: "#jqGridJSONPager"
                    });

                    //
                    // Filtering by Columns
                    //
                    gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn", beforeSearch: function(){
                        return false;
                    }
                    });

                    $('.ui-jqgrid-title').after('<label class="filter-help-text"><span class="fa fa-info-circle "></span> Presione enter para aplicar filtros</label>')
                });

            })(window, document, window.jQuery);


            function creditoInicialZonaColumnFormatter(cellvalue, options, rowObject) {
                var creditoInicialZona = '';
                creditoInicialZona += '<div>Efectivo inicial = $' + rowObject.EfectivoInicial.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona1) creditoInicialZona += '<div>Zona ' + rowObject.NombreZona1 + ' = $' + rowObject.CreditoInicialZona1.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona2) creditoInicialZona += '<div>Zona ' + rowObject.NombreZona2 + ' = $' + rowObject.CreditoInicialZona2.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona3) creditoInicialZona += '<div>Zona ' + rowObject.NombreZona3 + ' = $' + rowObject.CreditoInicialZona3.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona4) creditoInicialZona += '<div>Zona ' + rowObject.NombreZona4 + ' = $' + rowObject.CreditoInicialZona4.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona5) creditoInicialZona += '<div>Zona ' + rowObject.NombreZona5 + ' = $' + rowObject.CreditoInicialZona5.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                return creditoInicialZona;
            }

            function CreditoFinalZonaColumnFormatter(cellvalue, options, rowObject) {
                var CreditoFinalZona = '';
                CreditoFinalZona += '<div>Efectivo final = $' + rowObject.EfectivoFinal.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona1) CreditoFinalZona += '<div>Zona ' + rowObject.NombreZona1 + ' = $' + rowObject.CreditoFinalZona1.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona2) CreditoFinalZona += '<div>Zona ' + rowObject.NombreZona2 + ' = $' + rowObject.CreditoFinalZona2.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona3) CreditoFinalZona += '<div>Zona ' + rowObject.NombreZona3 + ' = $' + rowObject.CreditoFinalZona3.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona4) CreditoFinalZona += '<div>Zona ' + rowObject.NombreZona4 + ' = $' + rowObject.CreditoFinalZona4.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                if (rowObject.NombreZona5) CreditoFinalZona += '<div>Zona ' + rowObject.NombreZona5 + ' = $' + rowObject.CreditoFinalZona5.toLocaleString(undefined, { minimumFractionDigits: 2 }) + '</div>';
                return CreditoFinalZona;
            }

            function actionButtonsFormatter(cellvalue, options, rowObject) {
                var linkButton;
                linkButton = '<a href="Transaccion/Details/' + rowObject.TransaccionID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-eye"> </a>';
                linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.Transaccion.Delete))? linkButton + '<a href="Transaccion/Delete/' + rowObject.TransaccionID + '" data-toggle="tooltip" data-placement="left" data-original-title="Delete" class="fa fa-remove"> </a>' : linkButton;
                return linkButton;
            }



            function exportToExcel() {
                var data = JSON.stringify($('#jqGridJSON').jqGrid('getGridParam', 'postData'));
                $('#jqGridPostData').val(data);
            }


            $( "#jqGridPostData" ).ready(function() {

                //Loop through statesAvailable
                if("@objectArray["Usuario"]" != "")
                    $("#gs_Usuario").val("@objectArray["Usuario"]");
                else
                    $("#gs_Usuario").val("");


                if("@objectArray["CodigoTransaccion"]" != "")
                    $("#gs_CodigoTransaccion").val("@objectArray["CodigoTransaccion"]");
                else
                    $("#gs_CodigoTransaccion").val("");


                if("@objectArray["TransaccionTexto"]" != "")
                    $("#gs_TransaccionTexto").val("@objectArray["TransaccionTexto"]");
                else
                    $("#gs_TransaccionTexto").val("");


                if("@objectArray["ValorVenta"]" != "")
                    $("#gs_ValorVenta").val("@objectArray["ValorVenta"]");
                else
                    $("#gs_ValorVenta").val("");


                if("@objectArray["DescuentoAplicado"]" != "")
                    $("#gs_DescuentoAplicado").val("@objectArray["DescuentoAplicado"]" );
                else
                    $("#gs_DescuentoAplicado").val("");


                if("@objectArray["EfectivoFinal"]" != "")
                    $("#gs_EfectivoFinal").val("@objectArray["EfectivoFinal"]");
                else
                    $("#gs_EfectivoFinal").val("");


                if("@objectArray["FechaTransaccion"]" != "")
                    $("#gs_FechaTransaccion").val("@objectArray["FechaTransaccion"]");
                else
                    $("#gs_gFechaTransaccion").val("");


                if("@objectArray["FechaAltaBase"]" != "")
                    $("#gs_FechaAltaBase").val("@objectArray["FechaAltaBase"]");
                else
                    $("#gs_FechaAltaBase").val("");


                if("@objectArray["FechaTransaccion"]" != "")
                    $("#gs_FechaTransaccion").val("@objectArray["FechaTransaccion"]");
                else
                    $("#gs_FechaTransaccion").val("");


                if("@objectArray["UsuarioService"]" != "")
                    $("#gs_UsuarioService").val(@objectArray["UsuarioService"]);
                else
                    $("#gs_UsuarioService").val("");


                if("@objectArray["Jerarquia"]" != "")
                    $("#gs_Jerarquia").val("@objectArray["Jerarquia"]");
                else
                    $("#gs_Jerarquia").val("");


                if("@objectArray["Locacion"]" != "")
                    $("#gs_Locacion").val("@objectArray["Locacion"]" );
                else
                    $("#gs_Locacion").val("");


                if("@objectArray["Articulo"]" != "")
                    $("#gs_Articulo").val("@objectArray["Articulo"]");
                else
                    $("#gs_Articulo").val("");


                if("@objectArray["Maquina"]" != "")
                    $("#gs_Maquina").val("@objectArray["Maquina"]");
                else
                    $("#gs_Maquina").val("");


                if("@objectArray["Terminal"]" != "")
                    $("#gs_Terminal").val("@objectArray["Terminal"]");
                else
                    $("#gs_Terminal").val("");


                if("@objectArray["ModeloTerminal"]" != "")
                    $("#gs_ModeloTerminal").val("@objectArray["ModeloTerminal"]");
                else
                    $("#gs_ModeloTerminal").val("");


                if("@objectArray["NumeroUsuario"]" != "")
                    $("#gs_NumeroUsuario").val("@objectArray["NumeroUsuario"]");
                else
                    $("#gs_NumeroUsuario").val("");
            });
</script>