@model BugsMVC.Models.Transaccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalles
    <small>Detalles de la transacción seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">Transacción</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt class="@(Model.TransaccionTexto  != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.TransaccionTexto.TextoTransaccion)
            </dt>
            <dd class="@(Model.TransaccionTexto != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.TransaccionTexto.TextoTransaccion)
            </dd>

            <dt class="@(Model.CodigoTransaccion  != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.CodigoTransaccion)
            </dt>
            <dd class="@(Model.CodigoTransaccion != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.CodigoTransaccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValorVenta)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.ValorVenta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoAplicado)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.DescuentoAplicado)
            </dd>

            <dt class="@(Model.Articulo  != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.Articulo.Nombre)
            </dt>
            <dd class="@(Model.Articulo  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Articulo.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaTransaccion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaTransaccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAltaBase)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaAltaBase)
            </dd>
        </dl>

        @*SEPARADOR*@

        <dl class="dl-horizontal">
            <dt class="@(Model.Usuario != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </dt>
            <dd class="@(Model.Usuario != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Usuario.Nombre)
            </dd>

            <dt class="@(Model.Usuario != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.Usuario.Apellido)
            </dt>
            <dd class="@(Model.Usuario != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Usuario.Apellido)
            </dd>

            <dt class="@(Model.Jerarquia  != null ? String.Empty : "hidden")">
                @Html.DisplayName("Jerarquía")
            </dt>
            <dd class="@(Model.Jerarquia  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Jerarquia.Nombre)
            </dd>

            <dt class="@(Model.Locacion  != null ? String.Empty : "hidden")">
                @Html.DisplayName("Locación")
            </dt>
            <dd class="@(Model.Locacion  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>
        </dl>

        @*SEPARADOR*@

        <dl class="dl-horizontal">
            <dt class="@(Model.Maquina  != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.Maquina.NumeroSerie)
            </dt>
            <dd class="@(Model.Maquina  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Maquina.NumeroSerie)
            </dd>

            <dt class="@(Model.Terminal  != null ? String.Empty : "hidden")">
                @Html.DisplayName("N° Serie Terminal")
            </dt>
            <dd class="@(Model.Terminal  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Terminal.NumeroSerie)
            </dd>

            <dt class="@(Model.ModeloTerminal  != null ? String.Empty : "hidden")">
                @Html.DisplayName("Modelo Terminal")
            </dt>
            <dd class="@(Model.ModeloTerminal  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Terminal.ModeloTerminal.Modelo)
            </dd>
        </dl>

        @*SEPARADOR*@

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ValorRecarga)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.ValorRecarga)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValorRecorte)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.ValorRecorte)
            </dd>
        </dl>

        @*SEPARADOR*@

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EfectivoInicial)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.EfectivoInicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EfectivoFinal)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.EfectivoFinal)
            </dd>
        </dl>

        @*SEPARADOR*@


        @*ACÁ*@
        <dl class="dl-horizontal @(Model.Locacion != null && !String.IsNullOrEmpty(Model.Locacion.NombreZona1) ? String.Empty : "hidden")">
            <dt>
                Zona 1
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona1)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoInicialZona1)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoFinalZona1)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.Locacion != null && !String.IsNullOrEmpty(Model.Locacion.NombreZona2) ? String.Empty : "hidden")">
            <dt>
                Zona 2
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona2)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoInicialZona2)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoFinalZona2)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.Locacion != null && !String.IsNullOrEmpty(Model.Locacion.NombreZona3) ? String.Empty : "hidden")">
            <dt>
                Zona 3
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona3)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoInicialZona3)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoFinalZona3)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.Locacion != null && !String.IsNullOrEmpty(Model.Locacion.NombreZona4) ? String.Empty : "hidden")">
            <dt>
                Zona 4
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona4)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoInicialZona4)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoFinalZona4)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.Locacion != null && !String.IsNullOrEmpty(Model.Locacion.NombreZona5) ? String.Empty : "hidden")">
            <dt>
                Zona 5
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona5)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoInicialZona5)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.CreditoFinalZona5)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.Operador  != null ? String.Empty : "hidden")">
            <dt class="@(Model.Operador  != null ? String.Empty : "hidden")">
                @Html.DisplayNameFor(model => model.Operador.Nombre)
            </dt>
            <dd class="@(Model.Operador  != null ? String.Empty : "hidden")">
                @Html.DisplayFor(model => model.Operador.Nombre)
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Volver", "Index", "Transaccion", new { clsSession = false}, new { @class = "btn btn-default" })
</p>