@model BugsMVC.Models.ViewModels.ArticuloViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Eliminar
    <small>Eliminar el artículo seleccionado.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">¿Estás seguro de querer eliminar este artículo?</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.ArticuloID)
            @*<dt>
                @Html.DisplayNameFor(model => model.Locacion.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CostoReal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CostoReal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnidadMedida)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Certificacion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Certificacion)
            </dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" />
        @Html.ActionLink("Volver", "Index", "Articulo", null, new { @class = "btn btn-default" })
    </div>
}
