@model BugsMVC.Models.Articulo
@using BugsMVC.Models
@using BugsMVC.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalles
    <small>Detalles del artículo seleccionado.</small>
</h3>

<div class="panel panel-default">

    <div class="panel-body">
        <h4>Datos generales</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CostoReal)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.CostoReal)
            </dd>
            <dt>
                Unidad de medida
            </dt>
            <dd>
                @(((UnidadMedida)@Model.UnidadMedida).GetCustomAttributeOfType<System.ComponentModel.DescriptionAttribute>().Description)
                
                
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Certificacion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Certificacion)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.AsociarAPrecio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AsociarAPrecio)
            </dd>*@

         

            @*<dt>
                @Html.DisplayNameFor(model => model.NroZona)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroZona)
            </dd>*@
        </dl>
    </div>
</div>

<p>
@if (SecurityHelper.IsAllowed((int)Permissions.Articulo.Update))
{
    @Html.ActionLink("Editar", "Edit", "Articulo", new { id = Model.ArticuloID }, new { @class = "btn btn-default" })
}
    @Html.ActionLink("Volver", "Index", "Articulo", null, new { @class = "btn btn-default" })
</p>