@model IEnumerable<BugsMVC.Models.MarcaModelo>
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script>
    (function (window, document, $, undefined) {

        $(function () {

            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'MarcaModelo/GetAllMarcaModelos',
                datatype: "json",
                colModel: [
                     {
                         label: '',
                         name: '',
                         width: 65,
                         fixed: true,
                         search: false,
                         sortable: false,
                         resize: false,
                         formatter: actionButtonsFormatter
                     },
                    { label: 'MarcaModeloID', name: 'MarcaModeloID', width: 75, hidden: true },
                    { label: 'Modelo de Máquina', name: 'MarcaModeloNombre', width: 300 },
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: false,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Máquinas",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager"
            });

            //
            // Filtering by Columns
            //
            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        });

    })(window, document, window.jQuery);

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = '<a href="MarcaModelo/Edit/' + rowObject.MarcaModeloID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-edit"> </a>';
        linkButton += '<a href="MarcaModelo/Details/' + rowObject.MarcaModeloID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-eye"> </a>';
        linkButton += '<a href="MarcaModelo/Delete/' + rowObject.MarcaModeloID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-remove"> </a>';

        return linkButton;
    }
</script>

<h3>
    Modelo Máquina
    <small>Administración de modelos de máquinas.</small>
</h3>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>