@model BugsMVC.Models.ViewModels.SeguridadViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script type="text/javascript">
    $(document).ready(function (){
        var gridJSON = $("#jqGridJSON");

        gridJSON.jqGrid({
            url: 'GetConfiguracionSeguridad',
            postData: { IdRol: function () { return $("#IdRol").val(); } },         
            datatype: "json",
            data: { IdRol: $("#IdRol").val() 
                },
            colModel: [
                {
                    label: '',
                    name: '',
                    width: 65,
                    fixed: true,
                    search: false,
                    sortable: false,
                    resize: false,
                    formatter: actionButtonsFormatter
                },
                { label: 'IdFuncion', name: 'IdFuncion', hidden: true },
                { label: 'Función', name: 'Funcion', width: 200},
                { label: 'Tiene Acceso', name: 'TieneAcceso', width: 100}
            ],
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            width: 700,
            shrinkToFit: false,
            height: 240,
            rowNum: 30,
            rowList: [10, 20, 30],
            loadonce: true, // this is just for the demo
            caption: "Seguridad",
            hidegrid: false,
            ignoreCase: true,
            pager: "#jqGridJSONPager"
        });

        //
        // Filtering by Columns
        //
        gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        $("#IdRol").change(function (e) {
            if ($("#IdRol").val() != "") {
                $('#MostrarGrilla').css('display','block');
                $("#jqGridJSON")
                .jqGrid('setGridParam',
                    {
                        url: 'GetConfiguracionSeguridad',
                        datatype: "json",
                        postData: { IdRol: function () { return $("#IdRol").val(); } },
                        width: 700
                    })
                .trigger("reloadGrid");
            }else {
                $('#MostrarGrilla').css('display','none');
            }
        });

        $(document).on('click','#ChangeState',function(e) {
            CambiarEstado($(this).data("idrol"), $(this).data("idfuncion"));
        });
    });
    
    function CambiarEstado(idrol,idfuncion) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CambiarEstado", "Seguridad")',
                data: { 
                    IdRol: idrol,
                    IdFuncion : idfuncion
                },
                dataType: 'json',
                success: function () {
                    $("#jqGridJSON")
                        .jqGrid('setGridParam',
                            {
                                url: 'GetConfiguracionSeguridad',
                                datatype: "json",
                                postData: { IdRol: function () { return $("#IdRol").val(); } },
                                width: 700
                            })
                        .trigger("reloadGrid");
                },
                error: function (ex) {
                    alert('Hubo un error al obtener.' + ex);
                }
            });        
    }

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = '<a id="ChangeState" data-idrol=' + ($("#IdRol").val() != ""? $("#IdRol").val(): @Guid.Empty)  + 
            ' data-idfuncion=' + rowObject.IdFuncion +' data-placement="left" data-original-title="Editar" class="fa ' + (rowObject.TieneAcceso == "SI"? "fa-minus-circle" : "fa-plus-circle")  + ' cursor-pointer"> </a> ';
                
        return linkButton;
    }

</script>

<h3>
    Seguridad
    <small>Por Roles.</small>
</h3>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.IdRol, htmlAttributes: new { @class = "control-label col-sm-1" })
        <div class="col-sm-11">
            @Html.DropDownListFor(model => model.IdRol, null, "Seleccionar un Rol", htmlAttributes: new { @class = "form-control", @style = "width:40%" })
            @Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="MostrarGrilla" style="display:none; width:100%">
        <div class="jqgrid-responsive mb-lg">
            <table id="jqGridJSON"></table>
            <div id="jqGridJSONPager"></div>
        </div>
    </div>
</div>





