@model BugsMVC.Models.ViewModels.SeguridadPorInformeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Seguridad
    <small>Por Operador.</small>
</h3>

@using (Html.BeginForm("PorInforme", "Seguridad", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "idForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.FuncionID, htmlAttributes: new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.FuncionID, null, "Seleccionar Menú", htmlAttributes: new { @class = "form-control", @style = "width:40%" })
            @Html.ValidationMessageFor(model => model.FuncionID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.Operadores, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBox("Operadores", null, htmlAttributes: new { @class = "chosen-select input-md form-control", @style = "width:40%" })
            @Html.ValidationMessageFor(model => model.Operadores, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a id="botonActualizar" class="btn btn-default">Actualizar</a>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {


        $('body').append("<div id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' class='modal fade'>" +
                        "<div class='modal-dialog' role='document'> " +
                        "<div class='modal-content'>" +
                        "<div class='modal-header'> " +
                        "<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                        "<h4 class='modal-title'>Seguridad</h4>" + "</div>" +
                            " <div class='modal-body'>" +
                                " <p>¿Se eliminaran los operadores para el menú seleccionado?</p>" +
                            " </div>" +
                            " <div class='modal-footer'>" +
                                " <button type='button' class='btn btn-primary' id='botonConfirmar'>Confirmar</button>" +
                                " <button type='button' class='btn btn-default' data-dismiss='modal'>Volver</button>" +
                            "</div>" +
                        "</div>" +
                        " </div>" +
                        "</div>"
                        );

        $('#Operadores.chosen-select').chosen({
            placeholder_text_multiple: "Seleccionar Operadores"
        });

        $("#FuncionID").change(function () {
            LoadTodosLosOperadores();
        });


        $("#botonActualizar").click(function (e) {
            if ($('#Operadores').val() == null && $('#FuncionID').val() != 0) {
                $('#myModal').modal('toggle');
            } else {
                $("#idForm").submit();
            }
        });

        $("#botonConfirmar").click(function (e) {
            $("#idForm").submit();
            $('#myModal').modal('toggle');
        });

    });

    function LoadTodosLosOperadores() {
        $("#Operadores.chosen-select").empty();
        $('#Operadores.chosen-select').trigger("chosen:updated");
        if ($("#FuncionID").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOperadoresByFuncionMultiSelectList", "Seguridad")',
                dataType: 'json',
                data: {
                    funcionID: $("#FuncionID").val()
                },
                success: function (operadores) {
                    $.each(operadores.operadores, function (i, operador) {
                        $("#Operadores.chosen-select").append('<option value="' + operador.Value + '">' + operador.Text + '</option>');
                    });

                    $("#Operadores.chosen-select").val(operadores.selectValue);
                    $('#Operadores.chosen-select').trigger("chosen:updated");
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Operadores.' + ex);
                }
            });
        }
    }

</script>








