@model BugsMVC.Models.UsuarioViewModel
@using BugsMVC.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BugsMVC.Models
@using BugsMVC.DAL

<h3>
    Detalles
    <small>Detalles del consumidor seleccionado.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Datos generales</h4>
        
        <dl class="dl-horizontal">
            <dt>
                Locación
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>
            <dt>
                Jerarquía
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Jerarquia.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClaveTerminal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClaveTerminal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Dni)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dni)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Legajo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Legajo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaVencimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Inhibido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Inhibido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaInhibido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaInhibido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
            </dl>

        <dl class="dl-horizontal">
            <h4>Datos monetarios</h4>
            <dt>
                @Html.DisplayNameFor(model => model.Efectivo)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.Efectivo)
            </dd>
            </dl>
        <dl class="dl-horizontal">
            @if (Model.Locacion.NombreZona1 != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.NombreZona1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreZona1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreditoZona1)
                </dt>
                <dd>
                    $ @Html.DisplayFor(model => model.CreditoZona1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UltimaRecargaZona1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UltimaRecargaZona1)
                </dd>
            }

        </dl>

        <dl class="dl-horizontal">
            @if (Model.Locacion.NombreZona2 != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.NombreZona2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreZona2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreditoZona2)
                </dt>
                <dd>
                    $ @Html.DisplayFor(model => model.CreditoZona2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UltimaRecargaZona2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UltimaRecargaZona2)
                </dd>
            }
        </dl>

        <dl class="dl-horizontal">
            @if (Model.Locacion.NombreZona3 != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.NombreZona3)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreZona3)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreditoZona3)
                </dt>
                <dd>
                    $ @Html.DisplayFor(model => model.CreditoZona3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UltimaRecargaZona3)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UltimaRecargaZona3)
                </dd>
            }

        </dl>

        <dl class="dl-horizontal">
            @if (Model.Locacion.NombreZona4 != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.NombreZona4)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreZona4)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreditoZona4)
                </dt>
                <dd>
                    $ @Html.DisplayFor(model => model.CreditoZona4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UltimaRecargaZona4)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UltimaRecargaZona4)
                </dd>
            }

        </dl>

        <dl class="dl-horizontal">
            @if (Model.Locacion.NombreZona5 != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.NombreZona5)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NombreZona5)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreditoZona5)
                </dt>
                <dd>
                    $ @Html.DisplayFor(model => model.CreditoZona5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UltimaRecargaZona5)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UltimaRecargaZona5)
                </dd>
            }

        </dl>

        @*<dl class="dl-horizontal">
            <h4>Credenciales de acceso Web - Sistema VT</h4>
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
        </dl>*@
</div>
</div>

<p>
@if (SecurityHelper.IsAllowed((int)Permissions.Usuario.Update))
{
    @Html.ActionLink("Editar", "Edit", "Usuario", new { id = Model.UsuarioID }, new { @class = "btn btn-default" })
}
    @Html.ActionLink("Volver", "Index", "Usuario", null, new { @class = "btn btn-default" })
</p>
