@model BugsMVC.Models.ArticuloAsignacion
@using BugsMVC.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalles
    <small>Detalles de la asignación seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">Asignación</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ArticuloID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Articulo.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocacionID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NroZona)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NroZona)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaquinaID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Maquina.NombreAlias)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd>
                $ @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ControlStock)
            </dt>
            <dd>
                @((Model.ControlStock)? "Si":"No")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AlarmaActiva)
            </dt>
            <dd>
                @((Model.AlarmaActiva.HasValue) ? (Model.AlarmaActiva.Value) ? "Si":"No" : "-")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AlarmaBajo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AlarmaBajo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AlarmaMuyBajo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AlarmaMuyBajo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Capacidad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Capacidad)
            </dd>
        </dl>
    </div>
</div>

<p>
@if (SecurityHelper.IsAllowed((int)Permissions.Articulo.AsignacionUpdate))
{
    @Html.ActionLink("Editar", "Edit", "ArticuloAsignacion", new { id = Model.Id }, new { @class = "btn btn-default" })
}
    @Html.ActionLink("Volver", "Index", "ArticuloAsignacion", null, new { @class = "btn btn-default" })
</p>