@model IEnumerable<BugsMVC.Models.Locacion>
@using BugsMVC.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script>
    (function (window, document, $, undefined) {
        $(function () {
            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'Locacion/GetAllLocaciones',
                datatype: "json",
                colModel: [
                    {
                        label: '',
                        name: '',
                        width: 65,
                        fixed: true,
                        search: false,
                        sortable: false,
                        resize: false,
                        formatter: actionButtonsFormatter
                    },
                    { label: 'LocacionID', name: 'LocacionID', hidden: true },
                    { label: 'Operador', name: 'OperadorNombre', hidden : @Json.Encode((!User.IsInRole("SuperAdmin"))) },
                    { label: 'Nombre', name: 'Nombre' },
                    { label: 'Número', name: 'Numero', width: 100,sorttype: 'number', searchoptions: { sopt: ['eq'] } },
                    { label: 'Nombre Zona 1', name: 'NombreZona1' },
                    { label: 'Nombre Zona 2', name: 'NombreZona2' },
                    { label: 'Nombre Zona 3', name: 'NombreZona3' },
                    { label: 'Nombre Zona 4', name: 'NombreZona4' },
                    { label: 'Nombre Zona 5', name: 'NombreZona5' },
                    { label: 'CUIT', name: 'CUIT' },
                    { label: 'Dirección', name: 'Direccion' },
                    { label: 'Localidad', name: 'Localidad' },
                    { label: 'Provincia', name: 'Provincia' },
                    { label: 'Código Postal', name: 'CodigoPostal', sorttype: 'number' },
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: false,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Locaciones",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager"
            });

            //
            // Filtering by Columns
            //
            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        });

    })(window, document, window.jQuery);

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.Locacion.Update))? '<a href="Locacion/Edit/' + rowObject.LocacionID + '"data-toggle="tooltip" data-placement="left" title="Editar" class="fa fa-edit"> </a>' : '';
        linkButton += '<a href="Locacion/Details/' + rowObject.LocacionID + '" data-toggle="tooltip" data-placement="left" title="Detalles" class="fa fa-eye"> </a>';
        linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.Locacion.Delete))? linkButton + '<a href="Locacion/Delete/' + rowObject.LocacionID + '" data-toggle="tooltip" data-placement="left" title="Eliminar" class="fa fa-remove"> </a>' : linkButton;

        return linkButton;
    }

    function exportToExcel() {
        var data = JSON.stringify($('#jqGridJSON').jqGrid('getGridParam', 'postData'));
        $('#jqGridPostData').val(data);
    }
</script>

<h3>
    Locaciones
    <small>Administración de locaciones.</small>
</h3>

<div>
    @if (SecurityHelper.IsAllowed((int)Permissions.Locacion.Create))
    {
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default" })
    }
    @using (Html.BeginForm("ExportData", "Locacion", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;" }))
    {
        <input type="submit" name="Export" id="Export" value="Excel" onclick="exportToExcel();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostData" id="jqGridPostData" />
    }
</div>
<br />
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>
                  