@model BugsMVC.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Cambio de Contraseña";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center" style="background-color: #23b7e5;">
            <a href="#">
                <img src="~/Content/Images/logoBugs-login.png" alt="Bugs" class="block-center img-rounded" width="280" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">Cambio de Contraseña</p>
            <hr />
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Ingrese su mail", @autocomplete = "off", @required = "required" })
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Ingrese su Contraseña" })
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirme su Contraseña" })
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-block btn-primary mt-lg">Cambiar contraseña</button>
            }
        </div>
    </div>
    <!-- END panel-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
