@model BugsMVC.Models.ViewModels.TerminalViewModel

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BugsMVC.Models.ViewModels
@using BugsMVC.DAL
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    @if (Model.BackToMaquina)
    {
        <text>Detalles de terminal
        <small>Detalles de la terminal de la máquina seleccionada.</small></text>
    }
    else
    {
        <text>Detalles de terminal
        <small>Detalles de la terminal seleccionada.</small></text>
    }
</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Datos generales</h4>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroSerie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaquinaAsignada)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaquinaAsignada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroSerieMaquinaJonathan)
            <dd>
                @Html.DisplayFor(model => model.NumeroSerieMaquinaJonathan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModeloTerminal)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModeloTerminal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Version)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Version)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Interfaz)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Interfaz)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModuloComunicacion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModuloComunicacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SimCard)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SimCard)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NivelSenal1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NivelSenal1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNivel1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaNivel1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NivelSenal2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NivelSenal2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNivel2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaNivel2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NivelSenal3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NivelSenal3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNivel3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaNivel3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PerifericoDescripcion)
            </dt>
            <dd>
                
                <span>@Html.Raw(Model.PerifericoDescripcion)</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaAlta)
            </dd>
        </dl>


    </div>
</div>

<p>

    @if (SecurityHelper.IsAllowed((int)Permissions.Terminal.Update) && !Model.BackToMaquina)
    {
        @Html.ActionLink("Editar", "Edit", "Terminal", new { id = Model.TerminalID }, new { @class = "btn btn-default" })
    }

    @if (Model.BackToMaquina)
    {
        @Html.ActionLink("Volver", "Index", "Maquina", null, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Volver", "Index", "Terminal", null, new { @class = "btn btn-default" })
    }
</p>