@model BugsMVC.Models.ViewModels.MercadoPagoConfiguracionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Credenciales Pagos Externos
    <small>Configuración.</small>
</h3>

@*@using (Html.BeginForm())*@
@using (Html.BeginForm("Configure", "MercadoPago", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "idForm" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => Model.ClientId, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => Model.ClientId, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.SecretToken, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => Model.SecretToken, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => Model.AccessToken, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => Model.AccessToken, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Actualizar" />
        </div>
    </div>

    @*<div class="panel panel-default col-8">
            <div class="panel-body">
                <p><h4>Una vez creada la cuenta de mercado pago:</h4></p>
                <p style="padding-left:10px"><a href="https://www.mercadopago.com/mla/account/credentials" target="_blank">Hagá click aquí</a> y en la pestaña checkout básico obtener el CLIENT_ID y el CLIENT_SECRET.</p>

                <p><h4>Para registrar un producto:</h4></p>
                <p style="padding-left:10px"> Ir a Herramientas de cobro -> Crear botón o link -> Mas opciones, aquí  en donde dice código se debe completa con:</p>
                <p style="padding-left:10px">Algún nombre seguido de _ y luego MáquinaId (Primer columna de la tabla máquina) por ejemplo:<br /> Vending_2c6e58cc-085e-43cd-90a7-1dab18981328</p>
                <p style="padding-left:10px">Hacer click en Crear herramienta y se generará el código QR.</p>

            </div>
        </div>*@
}


@*<div>
        @Html.ActionLink("Volver", "Index", "Operador", null, new { @class = "btn btn-default" })
    </div>*@
