@model BugsMVC.Models.ViewModels.AlarmaViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Alarma
    <small>Alarma.</small>
</h3>

@using (Html.BeginForm("Create", "Alarma", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id="idForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.TipoDeAlarmaID, htmlAttributes: new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.TipoDeAlarmaID, null, "Seleccionar tipo de Alarma", htmlAttributes: new { @class = "form-control", @style = "width:40%" })
            @Html.ValidationMessageFor(model => model.TipoDeAlarmaID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LocacionID, htmlAttributes: new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.LocacionID, null, "Seleccionar todas", htmlAttributes: new { @class = "form-control", @style = "width:40%" })
            @Html.ValidationMessageFor(model => model.LocacionID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.Usuarios, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBox("Usuarios", null, htmlAttributes: new { @class = "chosen-select input-md form-control", @style = "width:40%" })
            @Html.ValidationMessageFor(model => model.Usuarios, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a id="botonActualizar" class="btn btn-default">Actualizar</a>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {


        $('body').append("<div id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' class='modal fade'>" +
                        "<div class='modal-dialog' role='document'> " +
                        "<div class='modal-content'>" +
                        "<div class='modal-header'> " +
                        "<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                        "<h4 class='modal-title'>Alerta</h4>" + "</div>" +
                            " <div class='modal-body'>" +
                                " <p>¿Se eliminaran los Usuarios para el Tipo de Alarma y Locaciones seleccionadas?</p>" +
                            " </div>" +
                            " <div class='modal-footer'>" +
                                " <button type='button' class='btn btn-primary' id='botonConfirmar'>Confirmar</button>" +
                                " <button type='button' class='btn btn-default' data-dismiss='modal'>Volver</button>" +
                            "</div>" +
                        "</div>" +
                        " </div>" +
                        "</div>"
                        );
    
        $('#Usuarios.chosen-select').chosen({
            placeholder_text_multiple: "Seleccionar usuarios"
        });

        $("#TipoDeAlarmaID").change(function () {
            LoadUsuarios();
        });

        $("#LocacionID").change(function () {
            LoadUsuarios();
        });



        $("#botonActualizar").click(function (e) {
            console.log($("#OperadorID").val());
            if ($('#Usuarios').val() == null && $('#TipoDeAlarmaID').val() != "" && $("#OperadorID").val() != '00000000-0000-0000-0000-000000000000') {
                $('#myModal').modal('toggle');
            } else {
                $("#idForm").submit();
            }
        });

        $("#botonConfirmar").click(function (e) {
            $("#idForm").submit();
            $('#myModal').modal('toggle');
        });
    });

    function LoadUsuarios() {
        $("#Usuarios.chosen-select").empty();
        $('#Usuarios.chosen-select').trigger("chosen:updated");
        if ($("#TipoDeAlarmaID").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetUsuariosByLocacionesMultiSelectList", "Alarma")',
                dataType: 'json',
                data: {
                    locaciones: $("#LocacionID").val(),
                    tipoDeAlarmaID: $("#TipoDeAlarmaID").val()
                },
                success: function (usuarios) {
                    $.each(usuarios.usuarios, function (i, usuario) {
                        $("#Usuarios.chosen-select").append('<option value="' + usuario.Value + '">' + usuario.Text + '</option>');                        
                    });

                    $("#Usuarios.chosen-select").val(usuarios.selectValue);
                    $('#Usuarios.chosen-select').trigger("chosen:updated");
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Consumidores.' + ex);
                }
            });
        }
    }

</script>







