@model BugsMVC.Models.Transaccion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Eliminar
    <small>Eliminar la transacción seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">¿Estás seguro de querer eliminar esta transacción?</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Articulo.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Articulo.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Usuario.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Operador.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Operador.Nombre)
            </dd>

            <dt>
                @Html.DisplayName("Jerarquía")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Jerarquia.Nombre)
            </dd>

            <dt>
                @Html.DisplayName("Locación")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Maquina.NumeroSerie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Maquina.NumeroSerie)
            </dd>

            <dt>
                @Html.DisplayName("N° Serie Terminal")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Terminal.NumeroSerie)
            </dd>

            <dt>
                @Html.DisplayName("Modelo Terminal")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Terminal.ModeloTerminal.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaTransaccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaTransaccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransaccionTexto.TextoTransaccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransaccionTexto.TextoTransaccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EfectivoInicial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EfectivoInicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EfectivoFinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EfectivoFinal)
            </dd>

        </dl>

        @*ACÁ*@
        <dl class="dl-horizontal @(!String.IsNullOrEmpty(Model.Locacion.NombreZona1)?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona1)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoInicialZona1)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoFinalZona1)
            </dd>
        </dl>

        <dl class="dl-horizontal @(!String.IsNullOrEmpty(Model.Locacion.NombreZona2)?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona2)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoInicialZona2)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoFinalZona2)
            </dd>
        </dl>

        <dl class="dl-horizontal @(!String.IsNullOrEmpty(Model.Locacion.NombreZona3)?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona3)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoInicialZona3)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoFinalZona3)
            </dd>
        </dl>

        <dl class="dl-horizontal @(!String.IsNullOrEmpty(Model.Locacion.NombreZona4)?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona4)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoInicialZona4)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoFinalZona4)
            </dd>
        </dl>

        <dl class="dl-horizontal @(!String.IsNullOrEmpty(Model.Locacion.NombreZona5)?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona5)
            </dd>

            <dt>
                @Html.DisplayName("Credito Inicial")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoInicialZona5)
            </dd>

            <dt>
                @Html.DisplayName("Credito Final")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreditoFinalZona5)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ValorVenta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValorVenta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValorRecarga)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValorRecarga)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoAplicado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescuentoAplicado)
            </dd>

        </dl>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "confirmationForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Eliminar</button>
        @Html.ActionLink("Volver", "Index", "Transaccion", null, new { @class = "btn btn-default" })
    </div>
}


@section BodyArea {
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content confirm1">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">¿ Desea Ud. eliminar la Transacción seleccionada ?</div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#myModal .modal-content.confirm1').hide(); $('#myModal .modal-content.confirm2').show(); return false;" class="btn btn-primary">Confirmar</button>
                    @Html.ActionLink("Volver", "Index", "Transaccion", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <div class="modal-content confirm2" style="display:none;">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Alerta</h4>
                </div>
                <div class="modal-body">
                    Los datos serán borrados permantentemente y no podrán ser recuperados.
                    <br />Si usted está seguro presione el botón 'Eliminar'.
                </div>
                <div class="modal-footer">
                    <button onclick="$('#confirmationForm').submit();" type="button" class="btn btn-primary">Eliminar</button>
                    @Html.ActionLink("Volver", "Index", "Transaccion", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}