@model IEnumerable<BugsMVC.Models.Transaccion>

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BugsMVC.Models
@using BugsMVC.DAL
@using BugsMVC.Helpers

@{
    ViewBag.Title = "IndexMal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var objectArray = (TempDataDictionary)TempData;
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script>
            (function (window, document, $, undefined) {
                   $('body').append("<div id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' class='modal fade'>" +
                       "<div class='modal-dialog' role='document'> " +
                       "<div class='modal-content'>" +
                       "<div class='modal-header'> " +
                       "<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                       "<h4 class='modal-title'>Eliminar Grupo de transacciones mal</h4>" + "</div>" +
                          " <div class='modal-body'>" +
                              " <p>¿ Desea Ud. eliminar todos los registros de Grupo de transacciones mal ?</p>" +
                          " </div>" +
                          " <div class='modal-footer'>" +
                              " <button type='button' class='btn btn-primary' id='removeButton'>Confirmar</button>" +
                              " <button type='button' class='btn btn-default' data-dismiss='modal'>Volver</button>" +
                           "</div>" +
                       "</div>" +
                       " </div>" +
                       "</div>"
                       );

                       $("#removeButton").click(function (e) {

                           $.ajax({
                               type: 'POST',
                               url: '@Url.Action("DeleteGrupoTransaccionAll", "Transaccion")',
                               dataType: 'json',
                               success: function () {
                                   window.location.reload();
                               },
                               error: function (ex) {
                                   alert('Hubo un error al eliminar los registros de Grupo de transacciones mal.' + ex);
                               }
                           });

                           $('#myModal').modal('toggle');

                       });

                $(function () {

                    var gridJSON = $("#jqGridJSON");

                    gridJSON.jqGrid({
                        url: 'GetAllGrupoTransaccionesMal',
                        datatype: "json",
                        colModel: [
                            {
                                label: '',
                                name: '',
                                width: 65,
                                fixed: true,
                                search: false,
                                sortable: false,
                                resize: false,
                                //formatter: actionButtonsFormatter
                            },
                            { label: 'Terminal', name: 'NSerie', fixed: true, width: 100 },
                            { label: 'Fecha', name: 'Fecha', search: true, searchOnEnter: true, sorttype: 'date', formatter: 'date', formatoptions: { "srcformat": "d/m/Y H:i:s", "newformat": "d/m/Y H:i:s" }, fixed: true, width: 180, searchoptions: getDefaultSearchOptionsForDate() },
                            { label: 'Motivo', name: 'Motivo', fixed: true, width: 300},
                            { label: 'Texto In', name: 'TextoIn', fixed: true, width: 450 },
                        ],
                        viewrecords: true, // show the current page, data rang and total records on the toolbar
                        autowidth: true,
                        shrinkToFit: false,
                        height: 240,
                        rowNum: 20,
                        rowList: [10, 20, 30],
                        loadonce: false, // this is just for the demo
                        caption: "Grupo Transacciones Mal",
                        hidegrid: false,
                        ignoreCase: true,
                        pager: "#jqGridJSONPager"
                    });
                    //
                    // Filtering by Columns
                    //
                    gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn", beforeSearch: function(){
                        return false;
                    }});
                });

            })(window, document, window.jQuery);

            function actionButtonsFormatter(cellvalue, options, rowObject) {
                var linkButton;
                //linkButton = '<a href="DetailsTMal/' + rowObject.IdTransaccionMal + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-eye"> </a>';
                linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.Transaccion.Delete))? '<a href="DeleteTMal/' + rowObject.IdTransaccionMal + '" data-toggle="tooltip" data-placement="left" data-original-title="Delete" class="fa fa-remove"> </a>' : linkButton;
                return linkButton;
            }

            function exportToExcel() {
                var data = JSON.stringify($('#jqGridJSON').jqGrid('getGridParam', 'postData'));
                $('#jqGridPostData').val(data);
            }

            $( "#jqGridPostData" ).ready(function() {

                //Loop through statesAvailable
                if("@objectArray["NSerie"]" != "")
                    $("#gs_NSerie").val("@objectArray["NSerie"]");
                else
                    $("#gs_NSerie").val("");

                if("@objectArray["Motivo"]" != "")
                    $("#gs_Motivo").val("@objectArray["Motivo"]");
                else
                    $("#gs_Motivo").val("");

                if("@objectArray["Fecha"]" != "")
                    $("#gs_Fecha").val("@objectArray["Fecha"]");
                else
                    $("#gs_Fecha").val("");

                if("@objectArray["TextoIn"]" != "")
                    $("#gs_TextoIn").val("@objectArray["TextoIn"]");
                else
                    $("#gs_TextoIn").val("");
            });
</script>

<h3>
    Grupo de transacciones mal
    <small>Listado de grupo transacciones mal.</small>
</h3>

<div>
    @using (Html.BeginForm("ExportDataGrupoTransaccionesMal", "Transaccion", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;" }))
    {
        <input type="submit" name="Export" id="Export" value="Excel" onclick="exportToExcel();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostData" id="jqGridPostData" />
    }

    <a href="#" data-toggle="modal" data-target="#myModal" class="removeButton btn btn-default">
        Borrar Todas
    </a>

    @*@if (SecurityHelper.IsAllowed((int)Permissions.Transaccion.Delete))
        {
            @Html.ActionLink("Eliminar Rango", "DeleteRange", null, new { @class = "btn btn-default" })
        }*@
</div>
<br />
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>
