@model BugsMVC.Models.Operador
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Detalles
    <small>Detalles del operador seleccionado.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">Operador</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>

            <dt>
                Tiempo Aviso Conexión <br /> (Minutos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiempoAvisoConexion)
            </dd>

            <dt>
                Tiempo Aviso Inhibición <br /> (Minutos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiempoAvisoInhibicion)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <h4>Datos MercadoPago</h4>
            <dt>
                @Html.DisplayNameFor(model => model.ClientId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ClientId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SecretToken)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SecretToken)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccessToken)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccessToken)
            </dd>
        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", "Operador", new { id = Model.OperadorID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Volver", "Index", "Operador", null, new { @class = "btn btn-default" })
</p>
