@model IEnumerable<BugsMVC.Models.Operador>
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/jqGridCss")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqGrid")
}

<script>
    (function (window, document, $, undefined) {

        $(function () {

            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'Operador/GetAllOperadores',
                datatype: "json",
                colModel: [
                    {
                        label: '',
                        name: '',
                        width: 65,
                        fixed: true,
                        search: false,
                        sortable: false,
                        resize: false,
                        formatter: actionButtonsFormatter
                    },
                    { label: 'OperadorID', name: 'OperadorID', hidden: true },
                    { label: 'Nombre', name: 'Nombre' },
                    { label: 'Numero', name: 'Numero', sorttype: 'number', searchoptions: { sopt: ['eq'] } },
                    { label: 'Client ID', name: 'ClientId' },
                    { label: 'Secret Token', name: 'SecretToken' },
                    { label: 'Access Token', name: 'AccessToken' },
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: true,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Operadores",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager"
            });

            //
            // Filtering by Columns
            //
            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        });

    })(window, document, window.jQuery);

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = '<a href="Operador/Edit/' + rowObject.OperadorID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-edit"> </a>'
                        +'<a href="Operador/Details/' + rowObject.OperadorID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-eye"> </a>'
        if (rowObject.OperadorID != '@ViewHelper.GetCurrentOperadorId()')  
            linkButton += '<a href="Operador/Delete/' + rowObject.OperadorID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-remove"> </a>';

        return linkButton;
    }
</script>

<h3>
    Operadores
    <small>Listado de operadores.</small>
</h3>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default" })
</p>

<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>