@model IEnumerable<BugsMVC.Models.Usuario>
@using BugsMVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/datatablesCss")

    @Styles.Render("~/bundles/jqGridCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")

    @Scripts.Render("~/bundles/jqGrid")
    @*@Scripts.Render("~/bundles/demoJQGrid")*@
}

<script>
    (function (window, document, $, undefined) {

        $(function () {

            var gridJSON = $("#jqGridJSON");

            gridJSON.jqGrid({
                url: 'UsuarioWeb/GetAllUsers',
                datatype: "json",
                colModel: [
                    {
                        label: '',
                        name: '',
                        width: 65,
                        fixed: true,
                        search: false,
                        sortable: false,
                        resize: false,
                        formatter: actionButtonsFormatter
                    },
                    { label: 'UsuarioID', name: 'UsuarioID', hidden: true },
                    { label: 'Operador', name: 'OperadorNombre', hidden : @Json.Encode((!User.IsInRole("SuperAdmin"))) },
                    { label: 'Email', name: 'Email' },
                    { label: 'Roles', name: 'Roles' },
                    { label: 'Nombre', name: 'Nombre' },
                    { label: 'Apellido', name: 'Apellido'},
                ],
                viewrecords: true, // show the current page, data rang and total records on the toolbar
                autowidth: true,
                shrinkToFit: false,
                height: 240,
                rowNum: 20,
                rowList: [10, 20, 30],
                loadonce: true, // this is just for the demo
                caption: "Usuarios",
                hidegrid: false,
                ignoreCase: true,
                pager: "#jqGridJSONPager"
            });

            //
            // Filtering by Columns
            //
            gridJSON.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
        });

    })(window, document, window.jQuery);

    function actionButtonsFormatter(cellvalue, options, rowObject) {
        var linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.UsuarioWeb.Update))? '<a href="UsuarioWeb/Edit/' + rowObject.UsuarioID + '" data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="fa fa-edit"> </a>' : '';
        linkButton += '<a href="UsuarioWeb/Details/' + rowObject.UsuarioID + '" data-toggle="tooltip" data-placement="left" data-original-title="Detalles" class="fa fa-eye"> </a>';
        if ((rowObject.UsuarioID != '@ViewHelper.GetCurrentUsuarioId()'))
            linkButton = @Json.Encode(SecurityHelper.IsAllowed((int)Permissions.UsuarioWeb.Delete))? linkButton + '<a href="UsuarioWeb/Delete/' + rowObject.UsuarioID + '" data-toggle="tooltip" data-placement="left" data-original-title="Eliminar" class="fa fa-remove"> </a>' : linkButton;

        return linkButton;
    }

    function decimalFormatter(cellvalue, options, rowObject) {

    }

    function getGridFilters() {
        var data = JSON.stringify($('#jqGridJSON').jqGrid('getGridParam', 'postData'));
        $('#jqGridPostDataExcel').val(data);
        $('#jqGridPostDataPdf').val(data);
    }

</script>

<h3>
    Usuarios Web
    <small>Administración de usuarios Web.</small>
</h3>

<div>
@if (SecurityHelper.IsAllowed((int)Permissions.UsuarioWeb.Create))
{
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default" })
}
    @using (Html.BeginForm("ReportePDF", "UsuarioWeb", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;", @target = "_blank" }))
    {
        <input type="submit" name="ExportPdf" id="ExportPdf" value="PDF" onclick="getGridFilters();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostDataPdf" id="jqGridPostDataPdf" />
    }

    @using (Html.BeginForm("ExportData", "UsuarioWeb", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: inline;" }))
    {
        <input type="submit" name="ExportExcel" id="ExportExcel" value="Excel" onclick="getGridFilters();" class="btn btn-default" />
        <input type="hidden" name="jqGridPostDataExcel" id="jqGridPostDataExcel" />
    }
</div>
<br />
<!-- JSON-->
<div class="jqgrid-responsive mb-lg">
    <table id="jqGridJSON"></table>
    <div id="jqGridJSONPager"></div>
</div>


