@model IList<BugsMVC.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Reporte de Usuarios Web";
}


<h3>Reporte de Usuarios Web</h3>
<br />

<table border="1" style="font-size:8px;font-style:normal">
    @foreach (var item in Model)
    {
        <tr>
            <td align="center" valign="top">
                <span style="font-size:10px;font-style:normal">Email</span> <br />
                @item.ApplicationUser.Email
            </td>
            <td align="center" valign="top">
                <span style="font-size:10px;font-style:normal">Roles</span> <br />
                @if (item.RolesSeleccionados != null)
                {
                    for (int i = 0; i < item.RolesSeleccionados.Length; i++)
                    {
                        if (i > 0) { WriteLiteral(", "); }
                        @item.RolesSeleccionados[i]
                    }
                }
            </td>
            <td align="center" valign="top">
                <span style="font-size:10px;font-style:normal">Nombre</span> <br />
                @item.Nombre
            </td>
            <td align="center" valign="top">
                <span style="font-size:10px;font-style:normal">Apellido</span> <br />
                @item.Apellido
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Volver", "Index", "UsuarioWeb", null, new { @class = "btn btn-default" })
</div>