@model BugsMVC.Models.StockViewModel

<script type="text/javascript">
    $(document).ready(function () {
        //LoadLocaciones();
        //if ($("#LocacionID").val() == "") {
        //    $("#LocacionID").empty();
        //    $("#LocacionID").append('<option value="">Seleccionar Locación</option>');
        //}

        if ($("#LocacionID").val() == "") {
            $("#ArticuloID").empty();
            $("#ArticuloID").append('<option value="">Seleccionar Artículo</option>');
            $("#ArticuloID").attr('disabled', 'disabled');
        }

        if ($("#ArticuloID").val() == "") {
            $("#Zona").empty();
            $("#Zona").append('<option value="">Seleccionar Zona</option>');
            $("#Zona").attr('disabled', 'disabled');
        }
        if ($("#Zona").val() == "") {
            $("#MaquinaID").empty();
            $("#MaquinaID").append('<option value="">Seleccionar Máquina</option>');
            $("#MaquinaID").attr('disabled', 'disabled');
        }

        $("#LocacionID").change(function () {
            $("#ArticuloID").empty();
            $("#ArticuloID").append('<option value="">Seleccionar Artículo</option>');
            $("#ArticuloID").attr('disabled', 'disabled');

            $("#Zona").empty();
            $("#Zona").append('<option value="">Seleccionar Zona</option>');
            $("#Zona").attr('disabled', 'disabled');

            $("#MaquinaID").empty();
            $("#MaquinaID").append('<option value="">Seleccionar Máquina</option>');
            $("#MaquinaID").attr('disabled', 'disabled');

            $("#Cantidad").val(0);

            if ($("#LocacionID").val() != "") {
                loadArticulos();
            }
            return false;
        });

        $("#ArticuloID").change(function () {
            $("#Zona").empty();
            $("#Zona").append('<option value="">Seleccionar Zona</option>');
            $("#Zona").attr('disabled', 'disabled');

            $("#MaquinaID").empty();
            $("#MaquinaID").append('<option value="">Seleccionar Máquina</option>');
            $("#MaquinaID").attr('disabled', 'disabled');
            $("#Cantidad").val(0);

            if ($("#ArticuloID").val() != "") {
                loadZonas();
            }
            return false;
        });

        $("#Zona").change(function () {
            $("#MaquinaID").empty();
            $("#MaquinaID").append('<option value="">Seleccionar Máquina</option>');
            $("#MaquinaID").attr('disabled', 'disabled');
            $("#Cantidad").val(0);

            if ($("#Zona").val() != "") {
                LoadMaquinas();
            }
            return false;
        });

        $("#MaquinaID").change(function () {
            $("#Cantidad").val(0);
            if ($("#MaquinaID").val() != "") {
                LoadForm();
            }
            return false;
        });

    });

    function LoadLocaciones() {
        if ($("#LocacionID").val() == "") {
            $("#LocacionID").empty();
            $("#LocacionID").append('<option value="">Seleccionar Locación</option>');
        }

        if ($("#LocacionID").val() == "") {
            $("#ArticuloID").empty();
            $("#ArticuloID").append('<option value="">Seleccionar Artículo</option>');
            $("#ArticuloID").attr('disabled', 'disabled');
        }

        if ($("#ArticuloID").val() == "") {
            $("#Zona").empty();
            $("#Zona").append('<option value="">Seleccionar Zona</option>');
            $("#Zona").attr('disabled', 'disabled');
        }
        if ($("#Zona").val() == "") {
            $("#MaquinaID").empty();
            $("#MaquinaID").append('<option value="">Seleccionar Máquina</option>');
            $("#MaquinaID").attr('disabled', 'disabled');
        }

        if ($("#OperadorID").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocacionesAsignacion", "Stock")',
                dataType: 'json',
                data: { operadorID: $("#OperadorID").val() },
                success: function (locaciones) {
                    if (locaciones.length > 0) $("#LocacionID").removeAttr('disabled');
                    $.each(locaciones, function (i, locacion) {
                        $("#LocacionID").append('<option value="' + locacion.Value + '">' + locacion.Text + '</option>');
                    });
                    loadArticulos();
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Locaciones.' + ex);
                }
            });
        }
    }

    function loadArticulos() {
        if ($("#LocacionID").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetArticulosByLocacion", "Stock")',
                dataType: 'json',
                data: { locacionID: $("#LocacionID").val() },
                success: function (articulos) {
                    if (articulos.length > 0) $("#ArticuloID").removeAttr('disabled');
                    $.each(articulos, function (i, articulo) {
                        $("#ArticuloID").append('<option value="' + articulo.Value + '">' + articulo.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Artículos.' + ex);
                }
            });
        }
    }

    function loadZonas() {
        if ($("#ArticuloID").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetZonasByLocacionAndArticulo", "Stock")',
                dataType: 'json',
                data: {
                    articuloID: $("#ArticuloID").val(),
                    locacionID: $("#LocacionID").val()
                },
                success: function (zonas) {
                    if (zonas.length > 0) $("#Zona").removeAttr('disabled');
                    $.each(zonas, function (i, zona) {
                        $("#Zona").append('<option value="' + zona.Value + '">' + zona.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Zonas.' + ex);
                }
            });
        }
    }

    function LoadMaquinas() {
        if ($("#Zona").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMaquinasByLocacionAndArticuloAndZona", "Stock")',
                dataType: 'json',
                data: {
                    locacionID: $("#LocacionID").val(),
                    articuloID: $("#ArticuloID").val(),
                    ZonaNro: $("#Zona").val(),
                },
                success: function (maquinas) {
                    if (maquinas.length > 0) $("#MaquinaID").removeAttr('disabled');
                    $.each(maquinas, function (i, maquina) {
                        $("#MaquinaID").append('<option value="' + maquina.Value + '">' + maquina.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Maquinas.' + ex);
                }
            });
        }
    }

    function LoadForm() {
        if ($("#MaquinaID").val() != "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetArticuloAsignacionID", "Stock")',
                dataType: 'json',
                data: {
                    locacionID: $("#LocacionID").val(),
                    articuloID: $("#ArticuloID").val(),
                    ZonaNro: $("#Zona").val(),
                    maquinaID: $("#MaquinaID").val()
                },
                success: function (articuloAsignacion) {
                    if (articuloAsignacion != null) {
                        $("#ArticuloAsignacionID").val(articuloAsignacion.ArticuloAsignacionID);
                        $("#StockID").val(articuloAsignacion.StockID);
                        $("#Cantidad").val(articuloAsignacion.Cantidad);
                        $("#Capacidad").val(articuloAsignacion.Capacidad);
                    }
                    else {
                        $("#StockID").val('00000000-0000-0000-0000-000000000000');
                        $("#Cantidad").val(0);
                    }
                },
                error: function (ex) {
                    alert('No existe Articulo Asociado');
                }
            });
        }
    }

</script>

<div class="panel panel-default">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.StockID)
        @Html.HiddenFor(model => model.ArticuloAsignacionID)
        @Html.HiddenFor(model => model.Capacidad)
        <input type="hidden" id="OperadorID" name="OperadorID" value="@ViewBag.OperadorID" />

        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.LocacionID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("LocacionID", Model.LocacionList, "Seleccione una locación", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LocacionID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.ArticuloID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ArticuloID", Model.ArticuloList, "Seleccione un artículo", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ArticuloID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.Zona, htmlAttributes: new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                       @*Html.DropDownListFor(model => model.NroZona, Model.ZonaList, "Seleccionar Zona", htmlAttributes: new { @class = "form-control" })*@
                        @Html.DropDownList("Zona", Model.ZonaList, "Seleccionar Zona", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Zona, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaquinaID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaquinaID", Model.MaquinaList, "Seleccione un máquina", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaquinaID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Volver", "Index", "Stock", null, new { @class = "btn btn-default" })
</div>

@*@section Styles {
    @Styles.Render("~/bundles/datetimePickerCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/demoForms")
}*@