@model BugsMVC.Models.Jerarquia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Eliminar
    <small>Eliminar la jerarquía seleccionada.</small>
</h3>

<div class="panel panel-default">
    <div class="panel-heading">¿Estás seguro de querer eliminar esta jerarquía?</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                Locación
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.Nombre)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.RecargaZona1!=0?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecargaZona1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecargaZona1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoPorcentualZona1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescuentoPorcentualZona1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MontoRecorteZona1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MontoRecorteZona1)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.RecargaZona2!=0?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecargaZona2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecargaZona2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoPorcentualZona2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescuentoPorcentualZona2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MontoRecorteZona2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MontoRecorteZona2)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.RecargaZona3!=0?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecargaZona3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecargaZona3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoPorcentualZona3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescuentoPorcentualZona3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MontoRecorteZona3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MontoRecorteZona3)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.RecargaZona4!=0?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecargaZona4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecargaZona4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoPorcentualZona4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescuentoPorcentualZona4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MontoRecorteZona4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MontoRecorteZona4)
            </dd>
        </dl>

        <dl class="dl-horizontal @(Model.RecargaZona5!=0?String.Empty:"hidden")">
            <dt>
                Zona
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Locacion.NombreZona5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecargaZona5)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecargaZona5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescuentoPorcentualZona5)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescuentoPorcentualZona5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MontoRecorteZona5)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MontoRecorteZona5)
            </dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "confirmationForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Eliminar</button>
        @Html.ActionLink("Volver", "Index", "Jerarquia", null, new { @class = "btn btn-default" })
    </div>
}
    
@section BodyArea {
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content confirm1">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Eliminar</h4>
                </div>
                <div class="modal-body">¿ Desea Ud. eliminar la Jerarquía seleccionada ?</div>
                <div class="modal-footer">
                    <button type="button" onclick="$('#myModal .modal-content.confirm1').hide(); $('#myModal .modal-content.confirm2').show(); return false;" class="btn btn-primary">Confirmar</button>
                    @Html.ActionLink("Volver", "Index", "Jerarquia", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <div class="modal-content confirm2" style="display:none;">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Alerta</h4>
                </div>
                <div class="modal-body">
                    Al eliminar la Jerarquía seleccionada se borrarán las siguentes dependencias.
                    <ul>
                        <li>Transacciones</li>
                        <li>Reposiciones</li>
                        <li>Usuarios</li>
                    </ul>
                    Los datos serán borrados permantentemente y no podrán ser recuperados.
                    <br />Si usted está seguro presione el botón 'Eliminar'.
                </div>
                <div class="modal-footer">
                    <button onclick="$('#confirmationForm').submit();" type="button" class="btn btn-primary">Eliminar</button>
                    @Html.ActionLink("Volver", "Index", "Jerarquia", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}