@model BugsMVC.Models.ReporteEntregaTotalEPP
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BugsMVC.Models
@using BugsMVC.DAL

<h3>
    Informes
    <small>Entrega Total EPP.</small>
</h3>

<script type="text/javascript">
    (function (window, document, $, undefined) {
        $(function () {
            if ($("#Locaciones").val() == null) {
                $("#Articulos.chosen-select").empty();
                $('#Articulos.chosen-select').attr('disabled', 'disabled');
            }

            $("#Locaciones").change(function () {
                $("#Articulos.chosen-select").empty();
                LoadArticulos();
            });
            

            $("#Articulos").change(function () {
                if ($("#Articulos").val() != undefined && $("#Articulos").val().indexOf("Todos;0") !== -1) {
                    $("#Articulos").val("Todos;0");
                    $('#Articulos.chosen-select').trigger("chosen:updated");
                }

                if ($("#Articulos").val() != undefined && $("#Articulos").val().indexOf("SinAlta;0") !== -1) {
                    $("#Articulos").val("SinAlta;0");
                    $('#Articulos.chosen-select').trigger("chosen:updated");
                }
            });

            $('#Articulos.chosen-select').chosen({
                placeholder_text_multiple: "Seleccionar articulos"
            });

            $('#Locaciones.chosen-select').chosen({
                placeholder_text_multiple: "Seleccionar locaciones"
            });
            
            if ($('#divs div.pageElement').length > 1) {
                $('#black').smartpaginator({
                    totalrecords: $('#divs div.pageElement').length,
                    recordsperpage: 1,
                    datacontainer: 'divs',
                    dataelement: 'div.pageElement',
                    initval: 1,
                    next: 'Next',
                    prev: 'Prev',
                    first: 'First',
                    last: 'Last',
                    go: 'Ir'
                });
            }

            $('.wrapper').css('overflow-x', 'visible');

        });

    })(window, document, window.jQuery);

    function LoadLocaciones() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetLocaciones", "Informes")',
            dataType: 'json',
            data: {
            },
            success: function (locaciones) {
                $.each(locaciones, function (i, locacion) {
                    $("#Locaciones.chosen-select").append('<option value="' + locacion.Value + '">' + locacion.Text + '</option>');
                });
                if (locaciones.length > 0)
                    $('#Locaciones.chosen-select').removeAttr('disabled');
                else
                    $('#Locaciones.chosen-select').attr('disabled', 'disabled');
                $('#Locaciones.chosen-select').trigger("chosen:updated");
            },
            error: function (ex) {
                alert('Hubo un error al obtener Locaciones.' + ex);
            }
        });
    }

    function LoadArticulos() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetArticulosByLocacionesMultiSelectList", "Informes")',
                dataType: 'json',
                data: {
                    locaciones: $("#Locaciones").val()
                },
                success: function (articulos) {
                    if (articulos.length != 0) {
                        $.each(articulos, function (i, articulo) {
                            $("#Articulos.chosen-select").append('<option value="' + articulo.Value + '">' + articulo.Text + '</option>');
                        });
                        if (articulos.length > 0)
                            $('#Articulos.chosen-select').removeAttr('disabled');
                        else
                            $('#Articulos.chosen-select').attr('disabled', 'disabled');
                        $('#Articulos.chosen-select').trigger("chosen:updated");
                    } else {
                        if ($("#Locaciones").val() != null) {
                            $("[data-valmsg-for='Usuarios']").text("La locación seleccionada no tiene Trabajadores");
                        }
                    }
                },
                error: function (ex) {
                    alert('Hubo un error al obtener Articulos.' + ex);
                }
            });
    }

</script>
<div class="panel panel-default report-filters">
    @using (Html.BeginForm("EntregaTotalEPP", "Informes", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
    {
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">

            <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                    @Html.LabelFor(m => Model.FechaDesde, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group date">
                            @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaDesde, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.FechaHasta, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group date">
                            @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaHasta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.Locaciones, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ListBox("Locaciones", null, htmlAttributes: new { @class = "chosen-select input-md form-control" })
                        @Html.ValidationMessageFor(model => model.Locaciones, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => Model.Articulos, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ListBox("Articulos", null, htmlAttributes: new { @class = "chosen-select input-md form-control" })
                        @Html.ValidationMessageFor(model => model.Articulos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default" type="submit">Generar</button>
                    </div>
                </div>

            </form>
        </div>
    }
</div>

@if (Model != null)
{
    //Paginado
    <div id="black" style="margin: auto;">
    </div>

    if (Model.ReportePorLocacion.Count() != 0)
    {
    <input type="button" value="Imprimir" class="btn btn-default btn-print" onclick="window.print()">
    }

    <div class="contents">
        <div id="divs">
            @foreach (ReporteEntregaTotalEPPLocacion itemLocacion in Model.ReportePorLocacion)
            {
                <div class="pageElement">
                    <div class="report-panel panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div class="report-title">
                                <h4>INFORME DE ENTREGA DE EPP TOTAL PERIODO</h4>
                            </div>
                            <div class="report-header">                                
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Razón Social: @itemLocacion.RazonSocial</td>
                                            <td>CUIT: @itemLocacion.CUIT</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Dirección: @itemLocacion.Direccion</td>
                                            <td>Localidad: @itemLocacion.Localidad</td>
                                            <td>C.P.: @itemLocacion.CodigoPostal</td>
                                            <td>Provincia: @itemLocacion.Provincia</td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table class="table">
                                        <tr>
                                            <td>Periodo: @itemLocacion.Periodo</td>
                                            <td>Desde: @itemLocacion.FechaDesde.ToShortDateString()</td>
                                            <td>Hasta: @itemLocacion.FechaHasta.ToShortDateString()</td>
                                            <td>Generación informe: @DateTime.Now.ToString("dd/MM/yyyy HH:mm")</td>
                                        </tr>
                                    </table>
                                </div> 
                            </div>
                            <div class="report-table-container">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Artículo</th>
                                            <th>Cantidad Total</th>
                                            <th>Precio en Máquina</th>
                                            <th>Precio Unitario Real</th>
                                            <th>Total</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ReporteEntregaTotalEPPDetalle itemDetalle in itemLocacion.Detalle)
                                        {
                                            <tr>
                                                <td>@itemDetalle.Articulo</td>
                                                <td>@itemDetalle.CantidadTotal</td>
                                                <td>@itemDetalle.PrecioEnMaquina</td>
                                                <td>@itemDetalle.PrecioUnitarioReal</td>
                                                <td>@itemDetalle.Total</td>
                                                <td>@itemDetalle.Observaciones</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Sub-Total</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>@itemLocacion.Detalle.Sum(x => x.Total)</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="salto"></div>
                </div>
            }

            @if (Model.ReportePorLocacion.Count() == 0)
            {                              
                    <p>No se encontraron datos para los filtros seleccionados.</p>                
            }
        </div>
    </div>
}


